[2021-12-13 14:53] schwesig opened #1 "in community/labels.yaml as label committee/steering is missing"
When this will be released:
- https://github.com/schwesig/goern_open-services-group-community/blob/schwesig-rewrite1/sig-wg-lifecycle.md#prerequisites-for-a-sig
"Open an issue addressing the Steering Committee by using the committee/steering label"

asks for a label
- committee/steering

this needs to be created in
- community/labels.yaml

**ToDo**
- [ ] create label committee/steering in communit

[2021-12-13 14:53] schwesig commented on #1
/assing @goern

[2021-12-13 14:54] schwesig commented on #1
/assign @goern

[2021-12-20 11:00] #1 closed

[2022-01-11 09:07] goern opened #9 "remove sig/ and have sig-* on /"
... the example of the existing SIG dirs;
![image](https://user-images.githubusercontent.com/4494906/148814460-f251a2b3-a60b-4bdc-aaba-06ad6c0c422a.png)
should they all be modified to dash-case.

Let's remove the "sig/" In the kubernetes example the sig directories are on the root of the project

_Originally posted by @MichaelClifford in https://github.com/open-services-group/community/pull/7#disc

[2022-01-11 09:47] schwesig commented on #9
https://github.com/goern/open-services-group-community/pull/2

[2022-01-14 16:33] schwesig commented on #9
closed by PR https://github.com/open-services-group/community/pull/15

[2022-01-14 18:25] schwesig opened #16 "create google calendar(s) with all open services meetings to subscribe to"
Idea:
instead of being invited, associates/members/community/... decide, what meetings their go to, what calendars they subscribe to.

Why:
following the idea of Steering Committees, SIGs, Sub-Projects and Work Groups, the groups itself, the topics, run times of these groups, and members can easily and agile change; persons responsible for or interested in a topic, are able to decide, what meeting

[2022-01-14 18:27] schwesig commented on #16
/kind feature
/priority important-soon

[2022-01-14 18:29] schwesig commented on #16
@durandom @goern @HumairAK @tumido

[2022-01-20 11:44] tumido opened #22 "New SIG: Services"
Hi Open Services Group,

I would like to form a new SIG which is focusing and coordinating the technical aspects and architecture when creating new software as open services as well as to provide technical leadership to successfully and openly operationalize existing services.

Opening this issue in accordance with [sig-wg-lifecycle.md#prerequisites-for-a-sig](https://github.com/open-services-grou

[2022-01-21 07:34] durandom opened #26 "run the template generator as a webhook/action"
Can we run https://github.com/open-services-group/community/blob/main/Containerfile after something is merged?

[2022-01-21 07:39] goern commented on #26
I'd say, the contributor should run it and add the result as the last commit of the PR?!

[2022-01-21 13:34] tumido commented on #26
I've tried to convert it to a pre-commit hook via:

[code]

But it fails with:

[code]

There is a bug with rootless container runtime in pre-commit

Relevant upstream issue and PR:
https://github.com/pre-commit/pre-commit/issues/1243
https://github.com/pre-commit/pre-commit/pull/1484

I'll try to make it work as a golang pre-commit plugin, though it may require to have the source code locally. I'

[2022-01-21 14:15] tumido commented on #26
Here's a PoC PR https://github.com/open-services-group/community/pull/27

It requires a local copy of the sourcecode, since pre-commit requires the hook config to be co-located with the source (I had 2 options, either push a pre-commit hook config upstream or push the sources downstream).

Ideally a `docker_image` would be better here, but pre-commit is currently unable to run rootless containers,

[2022-01-24 11:12] sesheta commented on #9
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/9#issuecomment-1019984995):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/

[2022-01-24 11:12] #9 closed

[2022-01-26 07:47] schwesig opened #32 "New SIG: Community Experience"
Hi Open Services Group,

I would like to form a new SIG which is focusing on the following purposes/topics/responsibilities:

- Community & Communication & Marketing
- Metrics & Measurements
- Governance & OrgOps

To tell, serve and measure.

Opening this issue in accordance with sig-wg-lifecycle.md#prerequisites-for-a-sig

I would like to meet and discuss the form, scope and shape of this SIG on

[2022-01-26 07:47] schwesig commented on #32
/assign @schwesig

[2022-01-26 07:49] schwesig commented on #32
Collecting things ahead:
[OSG] Google Drive -> https://drive.google.com/drive/folders/1-GaROaOn-zhca4CXGATDwfWK7uGnvcY9?usp=sharing
[OSG] Google Calender

[2022-01-26 14:55] schwesig commented on #32
/priority critical-urgent

[2022-01-26 20:48] MichaelClifford opened #35 "Add OS-C subproject under sig-data-science"
We nee to add the OS-C work as a sub-project under the data science sig.

Update the following files according to the [new subprojects doc](https://github.com/open-services-group/community/blob/main/sig-data-science/how-to-create-a-subproject.md):

- [ ] update sig-data-science/README.md
- [ ] update sigs.yaml

[2022-01-26 20:48] MichaelClifford commented on #35
/assign @MichaelClifford  @erikerlandson

[2022-02-03 13:09] tumido opened #38 "Additional chair to SIG Services wanted!"
any other volunteers?

_Originally posted by @durandom in https://github.com/open-services-group/community/pull/30#discussion_r791607184_

Hi team, I need a buddy to chair this SIG with me :slightly_smiling_face: . Please nominate anybody or volunteer below.

[2022-02-03 13:09] #22 closed

[2022-02-03 15:22] #35 closed

[2022-02-03 23:57] Shreyanand commented on #38
Hey Tom, It'd be a great learning experience for me. Happy to co lead this SIG with you :)

[2022-02-07 12:07] schwesig opened #47 "DevConf.cz 2022 Overview [OSG] Videos"

[2022-02-07 12:18] schwesig commented on #47
Thank you all for joining us in DevConf CZ 2022. Open Services Group had some amazing presentations during this conference. Here’s a list of talks that were presented by the Open Services Group.

**1. Keynote - Powering Open Source Climate with Operate First**
_Speakers - Michael Tiemann, Marcel Hild, Erik Erlandson_
In this talk, the speakers presented the journey of the OS-Climate data commons,

[2022-02-07 18:45] oindrillac commented on #47
Thanks!! We could also add these items to this list https://github.com/AICoE/content-pipeline/blob/main/talks/talks.md

[2022-02-07 18:56] schwesig commented on #47
just did
https://github.com/AICoE/content-pipeline/pull/63

[2022-02-07 20:19] schwesig commented on #47
/assign @schwesig

[2022-02-08 11:55] schwesig commented on #47
I created this issue as a fast way to create a public "webpage" with links and documents to be readable externally.
What would be the right or better way to do so?
Let's think about this in https://github.com/orgs/open-services-group/projects/8/

[2022-02-08 15:04] tumido commented on #38
Awesome! :+1: Yeah! Let's do it! :slightly_smiling_face:  Can you please send a PR and add yourself to
https://github.com/open-services-group/community/blob/245511c0abeca780747c903a1368a54091a5dd22/sigs.yaml#L64

(please run https://github.com/open-services-group/community/blob/245511c0abeca780747c903a1368a54091a5dd22/Containerfile#L16 after your edit)

[2022-02-10 07:37] schwesig opened #53 "[SIGComExp] Meet 2022-01 Notes"
2022-02-09
## Sources/Links
[Drawing Board](https://lucid.app/lucidspark/77c40968-dc6f-4d51-a1ab-02949cd8fe57/view?invitationId=inv_21afbe04-0815-4c26-a358-f17589129023#)
[Meeting Record](https://drive.google.com/file/d/1cdkFuZdeZlgoWBodUuJsxlsRmXrX71NF/view?usp=sharing)
[Continous Meeting Document](https://docs.google.com/document/d/1t47S9JUZbI3q0_LgVtaBKYsaGqnOP6YSG6x8XaBhiew/edit#)

## Results

[2022-02-10 07:44] schwesig commented on #53
/assign @schwesig @codificat
/priority important-longterm
/lifecycle active

[2022-02-10 09:09] codificat commented on #53
Thanks @schwesig !

I updated [the meetings document](https://docs.google.com/document/d/1t47S9JUZbI3q0_LgVtaBKYsaGqnOP6YSG6x8XaBhiew/edit#) with the information.

Moving forward, the document will be referenced from the SIG's information documents (after #34 merges), so I believe we are all set here.

/close

[2022-02-10 09:09] #53 closed

[2022-02-10 09:09] sesheta commented on #53
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/53#issuecomment-1034669274):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-02-10 19:44] schwesig opened #56 "[SIGComExp] Staffing Sub-Projects"
The three new Sub-Projects (SP) need to be staffed. The kick-off established the three SPs.
Lists of members and owners are not static or limited. Feel free to join.

[2022-02-10 20:14] schwesig commented on #56
Our first official meeting yesterday (2022-02-09) filled some of the "open chairs":
https://github.com/open-services-group/community/issues/53
# SP Gov Org
- [ ] Owner:
- [ ] Member/Contributor: @kpostlet 
- [ ] Member/Contributor: @tumido

# SP ComCom
- [ ] Owner:
- [ ] Member/Contributor: @kpostlet 
- [ ] Member/Contributor: @Ochatter
- [ ] Member/Contributor: @aakankshaduggal 
- [ ] Member/Cont

[2022-02-11 11:57] schwesig opened #58 "Staff the SP ComCom, add to yaml"
- [ ]  Owner:
- [ ]  Member/Contributor: @kpostlet 
- [ ]  Member/Contributor: @Ochatter
- [ ]  Member/Contributor: @aakankshaduggal 
- [ ]  Member/Contributor: @gkrumbac
- [ ]  Member/Contributor: @mayaCostantini
- [ ]  Member/Contributor: @suppathak
- [ ]  Member/Contributor: @goern

[2022-02-11 11:57] schwesig opened #61 "Staff the SP Metrics Strategic, add to yaml"
- [ ]  Owner:
- [ ]  Member/Contributor: @goern
- [ ]  Member/Contributor: @oindrillac
- [ ]  Member/Contributor: @suppathak
- [ ]  Member/Contributor: @aakankshaduggal
- [ ]  Member/Contributor: @hemajv
- [ ]  Member/Contributor: @chauhankaranraj

[2022-02-11 12:01] schwesig opened #59 "Staff the SP GovOrg, add to yaml"
- [ ]  Owner:
- [ ]  Member/Contributor: @kpostlet 
- [ ]  Member/Contributor: @tumido

[2022-02-11 12:03] schwesig opened #60 "How/where to publish deep links from Twitter & similar channels"
follow up from https://github.com/open-services-group/community/issues/47

[2022-02-11 12:03] schwesig commented on #47
done. Newsletter, Twitter, Slack and gchat. This issue was used as a link for more details.
follow up here https://github.com/open-services-group/community/issues/60

[2022-02-11 12:04] schwesig commented on #47
/close

[2022-02-11 12:04] sesheta commented on #47
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/47#issuecomment-1036146680):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-02-11 12:05] schwesig opened #62 "Setup Regular Meeting SP Metrics Strategic"
- [ ]  finding a time slot
- [ ]  add to google calendar
- [ ]  first official invite

[2022-02-11 12:05] schwesig opened #63 "Setup Regular Meeting SP ComCom"
- [ ]  finding a time slot
- [ ]  add to google calendar
- [ ]  first official invite

[2022-02-11 12:05] schwesig opened #64 "Setup Regular Meeting SP GovOrg"
- [ ] finding a time slot
- [ ] add to google calendar
- [ ] first official invite

[2022-02-11 12:10] schwesig commented on #64
@kpostlet 
@tumido

[2022-02-11 12:13] schwesig commented on #64
/priority critical-urgent
/kind feature

[2022-02-11 12:13] schwesig commented on #62
/priority critical-urgent
/kind feature

[2022-02-11 12:13] schwesig commented on #63
/priority critical-urgent
/kind feature

[2022-02-11 12:14] schwesig commented on #59
/priority critical-urgent
/kind documentation

[2022-02-11 12:14] schwesig commented on #61
/priority critical-urgent
/kind documentation

[2022-02-11 12:14] schwesig commented on #58
/priority critical-urgent
/kind documentation

[2022-02-11 12:15] schwesig opened #65 "Define 5+ core KPIs"

[2022-02-11 12:15] schwesig commented on #65
/priority critical-urgent
/kind feauture

[2022-02-11 12:15] sesheta commented on #65
@schwesig: The label(s) `kind/feauture` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/community/issues/65#issuecomment-1036154580):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestion

[2022-02-11 12:16] schwesig commented on #65
/kind feature

[2022-02-11 12:53] schwesig opened #66 "charter.md Clarify the relationship with the Metrics sub-project in the data science SIG"
Metrics Strategic vs Metrics
[Metrics](https://github.com/open-services-group/community/tree/main/sig-data-science#metrics-1)

[2022-02-14 13:41] tumido commented on #38
Fixed via #52

[2022-02-14 13:41] #38 closed

[2022-02-15 17:08] schwesig opened #69 "[SP GovOrg] Promote ADRs e.g. where to store, where to publish, how to do, templates | collect new"
This issue is to track all open ADR related topics. maybe this should become an epic.
But main at the end, this is the task to promote and take care of the ADRs and the ADR process.
"long term coaching"

The comments below are for collecting informations or todos, that need to take care of in separate issues.

[2022-02-15 17:08] schwesig commented on #69
/assign @codificat
/assign @schwesig

[2022-02-15 17:09] schwesig commented on #69
- AICoE org on GitHub: has some repos that might/seem to belong to a certain subproject. All repos should belong to a subproject (in the OSG governance sense) and be actively worked on, if not: let’s put a note on the README and archive them.
  - Each subproject (as it is part of a SIG) needs to support a Service being created by OSG
  - We want owners for each repo, they are stated in the OWNERS

[2022-02-15 17:27] schwesig commented on #69
- [ ] All wg should have gdocs in readme

[2022-02-17 21:01] oindrillac opened #71 "Add Review NB to open services group repos"
SSIA

[2022-02-21 09:01] schwesig commented on #69
https://github.com/open-services-group/community/pull/46

[2022-02-21 15:54] schwesig opened #72 "[SP GovOrg] Create an SIG etc overview/chart"
- [ ] research and build (ongoing/dynamic process)
- [ ] update regularly
- [ ] publish it regularly

WHERE to publish?
Website, github, md, ...

[2022-02-21 15:55] schwesig opened #73 "[SP GovOrg] Human API - Create OrgChart and RACI Matrix"
- [ ] OrgChart

- [ ] RACI Matrix

[2022-02-23 10:30] schwesig opened #74 "[SIG ComExp] include and show Google Drive --> publish it"
https://drive.google.com/drive/folders/1-GaROaOn-zhca4CXGATDwfWK7uGnvcY9?usp=sharing

When we know how to communicate and collect all Meetings, Data, Notes etc,
this link needs to be included.
This will be either part of the ComCom, or better GovOrg. First suggestion.

[2022-02-23 10:32] schwesig opened #75 "[SIG ComExp] include Google Calender in communication -> publish"
-> https://calendar.google.com/calendar/render?cid=c_9qel5vbnh0hhrnab5t92qur0b4@group.calendar.google.com

Include/Publish calendar for all meetings in our presentation "webpage", or whatever kind of communication ways we will decide on.

Most likely SP ComCom or better SP GovOrg, first suggestion.

[2022-02-23 10:33] schwesig opened #76 "[SIG ComExp] Overview of all Channels"
Show and Tell how we communicate,
list all ways and channels (gchat, slack, ...).
Maybe sorted/clustered by Groups or topics, if there are different ways.

Ideal solution: same channels for all SIGs and Groups....

SP ComCom or GovOrg

[2022-02-23 15:28] schwesig commented on #72
[code]

[2022-02-23 15:38] chauhankaranraj commented on #56
I'm interested in joining the SP Metrics Strategic as well! :smiley:

[2022-02-23 15:50] schwesig commented on #56
added @chauhankaranraj to the overview

[2022-02-23 16:08] hemajv commented on #56
happy to contribute to the SP Metrics Strategic :smile:

[2022-02-23 16:37] hemajv commented on #65
also related to https://github.com/open-services-group/metrics/issues/3

[2022-02-23 16:38] hemajv commented on #61
happy to be a contributor to this sub-project! :)

[2022-02-23 17:05] schwesig commented on #32
closing because SIG is established, collected things are issues now.

[2022-02-24 10:02] schwesig commented on #65
github issues: Open to Merge / Time to Resolution (TTR)
how many time (days or hours) between the creation of an issue and the closing/merging of a PR to merge

To define:

- what repositories
- is closing without a merge enoug
- ...

[2022-02-24 10:06] schwesig commented on #65
Orga: How many members are NOT yet part of the Governance or a SIG
count the number of members that are not part of a SIG or not part of a SP or not part of a WG

To define:

- members (mhild all, ...)
- "be part of" listed or active or chair or ...
- where to get the information (github, issues, sig.yaml)
- what SIGs etc, what about not merged/active sig.yaml files yet
- ...

[2022-02-24 10:11] schwesig commented on #65
github activities: participation of contributors
how active is an issue or contributor

To define:

- is this about the activity of an issue or the activity of an contributor or both (2 indicators)
- activity per time, per issue, per contributor, per team, per project, per ... or all of them and have a dynamic definition/drill down
- participation: comment, PR, review, number of lines, number of r

[2022-02-24 10:13] schwesig commented on #65
governance: undefined owner files
every SIG, SP, WG must have an maintained owner file

To define:

- just have that file (no 404error, no link to a template repo, ...)
- have a maintained file? how to check quality, being correct
- is the owner file enough, accurate, upd to date?

[2022-02-24 10:18] schwesig commented on #62
@hemajv that is an excellent idea! until we get "big" or need more time or have more people or more topics...
that is great. thanks for this idea. and  as soon as the SP Metrics Strategic is blocking too much of your time, we can think of something else.
like it!

[2022-02-24 10:19] schwesig commented on #61
@hemajv happy to have you on board. I added you in the list

[2022-02-24 11:06] schwesig opened #77 "[SIG ComExp] explain and define sla, sli, slo, kpi"
follow up from the SIG Community Experience Meeting 2022-02-23
During the meeting, these acronyms and their meaning brought up some discussions and they need to be defined and explained.

[2022-02-24 11:21] schwesig commented on #59
https://github.com/thoth-station/core/blob/00f6ac50384b47f9cb1de3c8983d332631f6079c/docs/adr/template.md

[2022-02-24 11:31] schwesig commented on #69
https://github.com/thoth-station/core/blob/00f6ac50384b47f9cb1de3c8983d332631f6079c/docs/adr/template.md

[2022-02-24 11:41] schwesig opened #78 "[SP ComCom] +epic+ Create, establish and sustain team news stream with abstracts for every team and meeting"
epic for these issues:

- [x] 1. [[SP ComCom] NewsFlash - Create a list of all Meetings in the [OSG] Calendar #85](https://github.com/open-services-group/community/issues/85)
- [x] 2. [[SP ComCom] Create a template for notes, after- and pre-meeting #88](https://github.com/open-services-group/community/issues/88)
- [x] 3. [[SP ComCom] Schedule a group or one-on-one meeting to coach and discuss the

[2022-02-24 11:56] schwesig commented on #78
where to send: stay with the known channels? gchat, slack, email, ...
where to store: abstracts go ...?

[2022-02-24 11:57] schwesig opened #79 "[SP GovOrg] Check and Coach OWNER files of all SIG, SG, etc"
| ID | Governance Group                                               | Host/Chair                              | repo | name | readme | in sig.yaml |
|----|----------------------------------------------------------------|-----------------------------------------|------|------|--------|-------------|
| 1  | SP Metrics                                                     | Hema Veeradhi

[2022-02-24 13:17] schwesig commented on #78
/assign @oindrillac
/assign @aakankshaduggal

[2022-02-24 15:34] schwesig commented on #78
google docs
jupyter nb to collect and create a "log" "blog"

jupyter notebook
use sig.yaml to get the links to the notes
parse in notes: in gdoc @Meeting Notes --> between standard  Attendees: & Agenda
create a "blog" like output with header and abstract (with links)
publish it to a readme file in github

start with 2 weekly groups
- byon
- data science community meeting

gchat OSG

[2022-02-24 16:39] tumido opened #81 "[SIG Services] New subproject: Peribolos as a service"
Hi OSG, as we agreed on SIG Services meeting today, we would like to start a new project in this org for Peribolos as a service.

[2022-02-24 19:45] chauhankaranraj commented on #61
I'd like to contribute as well! :)

[2022-02-25 12:50] #81 closed

[2022-02-25 15:51] schwesig commented on #65
ideas for indicators from earlier project
https://github.com/operate-first/support/issues/447#issuecomment-982374136

[2022-02-28 17:25] durandom commented on #78
+100 for templates

But I'd also create a template for the meeting notes. Because, shouldn't the summary be a summary of the meeting? This should be captured in the meeting notes. And if it's not, then the meeting notes are missing something.

As a reader of the summary, I should be able to dive into more details, which is captured in the meeting notes and issues.

I would hold off any automation

[2022-02-28 17:30] schwesig commented on #78
Idea: Bot “nags” to do this
Wish: Bot asking questions, requesting the information, ... pushes to the task/note

[2022-02-28 17:59] durandom commented on #78
It's an editoral exercise. If you (@schwesig and @codificat) cannot create a summary out of the meeting notes, then the meeting notes are bad. I.e. you have to talk to the chairs and help to fix the meeting notes, and do better next time.

Therefore I suggest to

* create templates for meeting notes and the summary reports
* do a round-robin of the chore of writing the summary

Once we did that fo

[2022-03-01 08:00] schwesig opened #85 "[SP ComCom] NewsFlash - Create a list of all Meetings in the [OSG] Calendar"
The NewsFlash project focuses first on the OSG Calendar (for Q1 and as a use case).
It also focuses first on output and establishing the process instead of automation first.
Later, the option of integrating more calendars and create an automated process will be checked.

This issue creates a list of all meetings in the Open Services Group Calendar.
This does not need to be an automated process, we

[2022-03-01 17:45] schwesig commented on #65
/assign @schwesig
/assign @oindrillac
/assign @suppathak
/assign @aakankshaduggal
/assign @hemajv

[2022-03-01 17:48] schwesig commented on #65
/assign @chauhankaranraj

[2022-03-01 19:43] schwesig commented on #78
Templates following the man pages idea:
like a newspaper: you know where to look and where to find things, no matter what day it is.
all meeting notes should have the same look, format, and best also same style/length/size of the different topics.
https://en.wikipedia.org/wiki/Man_page

[2022-03-01 19:44] schwesig commented on #85
/assign @aakankshaduggal

[2022-03-01 19:53] codificat opened #87 "Consider maintaining a content tracker repo for OSG"
Should we create an equivalent to https://github.com/AICoE/content-pipeline under the open-services-group org?

[2022-03-02 15:11] schwesig opened #88 "[SP ComCom] Create a template for notes, post- and pre-meeting"
2022-03-14
Next Steps to close this issue (after closing https://github.com/open-services-group/community/issues/89#issuecomment-1067059354):
- [x] pure template (copy&paste ready)
- [x] template prefilled and commented (tutorial, easy understandable for new users/self-onboarding ready)

Working document [gDoc](https://docs.google.com/document/d/12EwslKCuMwMwroQqYknKmiE4L_9t6Exspd_1ZkT1eyA/edit?us

[2022-03-02 15:18] schwesig opened #89 "[SP ComCom] Schedule a group or one-on-one meeting to coach and discuss the templates for NewsFlash & notes"

[2022-03-02 15:19] schwesig commented on #78
to solve this epic and the MVP,
I created these smaller next small steps issues here:

1. [[SP ComCom] NewsFlash - Create a list of all Meetings in the [OSG] Calendar #85](https://github.com/open-services-group/community/issues/85)
2. [[SP ComCom] Create a template for notes, after- and pre-meeting #88](https://github.com/open-services-group/community/issues/88)
3. tbd [[SP ComCom] Schedule a grou

[2022-03-02 15:23] schwesig commented on #88
/priority critical-urgent
/kind documentation
/assign @oindrillac

[2022-03-02 15:23] schwesig commented on #85
/priority critical-urgent
/kind documentation

[2022-03-02 17:04] aakankshaduggal commented on #88
/assign @aakankshaduggal

[2022-03-02 17:45] oindrillac commented on #88
Like the first draft @schwesig ! 🥇
Since this template is going to be used in Google docs eventually, I thought we could collaborate on a doc instead. So I created this doc here: https://docs.google.com/document/d/12EwslKCuMwMwroQqYknKmiE4L_9t6Exspd_1ZkT1eyA/edit?usp=sharing with the first draft.

[2022-03-03 15:38] schwesig opened #91 "[SP Metrics Strategic] Create a dashboard mockup for SIG Data Science - SPMetrics"

[2022-03-03 16:28] chauhankaranraj opened #92 "[SIG Data Science][SP Metrics] Add subproject repo urls to sigs.yaml"
As a part of the [Metrics](https://github.com/open-services-group/metrics) subproject, we want to collect the github data corresponding to all the subprojects under various sigs. For this, we need to have a list of repo's corresponding to each subproject. However, repo url's are not currently listed in sigs.yaml. Could we update it and add them?

Alternatively, we could also parse the repo slugs f

[2022-03-04 08:42] schwesig commented on #89
/priority critical-urgent
/kind documentation

[2022-03-04 08:43] schwesig commented on #88
Some of the comments/questions in the gdoc are explained here under e.q. mission goals for pre- and after-meeting

[2022-03-04 09:07] goern commented on #88
isn't that part of the meeting agenda? why should we inform via a news flash? or is that meant as a call out that some persons/opinions/sync is needed?

[2022-03-04 09:12] goern commented on #88
or.. .maybe I am just unclear about the channels used to send the information

[2022-03-04 15:52] schwesig opened #93 "[NewsFlash] DevSecOps Makes Cybersecurity More Agile"
[channel]gchat
[notbefore]20220304_1000EST
[status]published20220304_1052EST

# DevSecOps Makes Cybersecurity More Agile

## Christoph Görn talked to Tammy Xu about DevSecOps for the magazine “[BuiltIn](https://builtin.com/software-engineering-perspectives/DevSecOps)”.

### Adding Sec to DevOps is more than just adding a code scanner. Questions like, “Are all the dependencies my mission critical s

[2022-03-04 21:47] #93 closed

[2022-03-04 21:47] schwesig commented on #93
Published

[2022-03-07 05:55] schwesig commented on #88
Exactly

"This should lead to you only attending meetings

that are important for you
that you are important for"

[2022-03-07 05:57] schwesig commented on #88
At this point of time:
NewsFlash pre: gchat
NewsFlash after: gchat

In future: maybe other quick/short messenger services

[2022-03-07 06:42] schwesig commented on #88
@oindrillac i answered your questions inside the gdoc

[2022-03-07 13:36] schwesig commented on #85
is someone taking care of this? We need this list to work on https://github.com/open-services-group/community/issues/89

[2022-03-07 13:43] schwesig commented on #85
@kpostlet 
 @oindrillac
 @aakankshaduggal 
 @Gkrumbach07
 @mayaCostantini
 @suppathak
 @goern

[2022-03-07 14:20] oindrillac commented on #88
All the SIG/WG meetings are on a shared calendar. I think that an attendee should be able to determine this by looking at the Agenda docs, post-meeting News Flash.

In most recurring SIG/WG meetings, a continuation of tasks, updates from last meetings, upcoming tasks are discussed, and the required attendees/personas are already a part of the SIG/WG and attend regularly.
However, I do agree that i

[2022-03-07 15:36] aakankshaduggal commented on #85
Initiated a doc here - https://docs.google.com/document/d/1eaue1WKZ8QygthWU-cKH1pwJxEcZbUvgTQ39-pT2bAw/edit?usp=sharing

cc - @schwesig

[2022-03-08 12:46] schwesig commented on #85
/closed

List is good and can be used.
Thanks @aakankshaduggal 🤗

[2022-03-08 12:47] schwesig commented on #85
/close

[2022-03-08 12:47] #85 closed

[2022-03-08 12:47] sesheta commented on #85
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/85#issuecomment-1061740815):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-03-08 12:52] schwesig commented on #88
@oindrillac thanks for your ideas.
I am still for creating it regularly, maybe not always send it.

I personally don't think the calendar is enough, especially for people outside OSG and even Outside Red Hat.

I like to have it for a workflow.

But please let's discuss this on tomorrow's SIG ComExp Meeting or/and in the upcoming talks about it with the different hosts/chairs.

[2022-03-08 14:56] schwesig commented on #65
https://docs.google.com/document/d/1ZhH-gcbXQap7Sm834AwrJ1vutQ0JkXMr9HgC39zss3M/edit

[2022-03-08 14:58] schwesig commented on #65
https://docs.google.com/document/d/1uhF45-hOEBjg_f8HlXbqhNYfTzvUh-HgtNDEgc-mzgo/edit

[2022-03-08 17:51] schwesig commented on #91
@codificat are we? ;-)
yes, I guess we are.

/close

[2022-03-08 17:51] #91 closed

[2022-03-09 10:13] codificat commented on #65
/sig community-experience
/area metics

[2022-03-09 10:13] sesheta commented on #65
@codificat: The label(s) `area/metics` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/community/issues/65#issuecomment-1062762014):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions

[2022-03-09 10:13] codificat commented on #65
I meant
/area metrics

[2022-03-09 14:54] Shreyanand commented on #92
/cc @schwesig

[2022-03-09 15:21] schwesig commented on #92
@Shreyanand thanks for cc, I will take care of this

/cc @codificat

[2022-03-09 15:58] schwesig commented on #92
see @codificat link to #94, we not always have a specified repo for all groups.
kind of a catch 22 and we need maybe first a decision, if we first need to clean the "repo structure" or collecting the "connections" not fully and manually added?

[2022-03-09 18:59] schwesig opened #96 "Naming of all Meetings in the OSG Calendar"
Maybe thinking about a naming convention for Meetings?

Like [SIG name] Title ?
or [OSG][SIG name] Title

- [x] Let's discuss
- [ ] If yes, we need a naming convention, let's set it

Current Meetings in the OSG Calendar and their names
In scope: **OSG Google Calender**

| ID |current Meeting Title|Host/Chair|new Meeting Title|
|---|---|---|---|
| 1 | [SIG-Data-Science] Metrics weekly meeting | Hem

[2022-03-09 19:04] aakankshaduggal commented on #96
I totally agree that there should be a naming convention for all these meetings.
 My two cents here, since all these meetings are under the same org - OSG, we should not be mentioning that. Instead, we could do `[SIG]/[SIG - <name of SIG>][SP]/[WG] - Name of the meeting`, wdyt?

[2022-03-09 19:07] schwesig commented on #56
/sig community-experience

[2022-03-09 19:08] schwesig commented on #76
/sig community-experience
/area metrics

[2022-03-09 19:08] schwesig commented on #76
/area

[2022-03-09 19:09] schwesig commented on #76
/clear area

[2022-03-09 19:12] schwesig commented on #79
/sig community-experience

[2022-03-09 19:12] schwesig commented on #59
/sig community-experience

[2022-03-09 19:12] schwesig commented on #69
/sig community-experience

[2022-03-09 19:13] schwesig commented on #76
/remove-area metrics

[2022-03-09 19:13] schwesig commented on #72
/sig community-experience

[2022-03-09 19:15] schwesig commented on #73
/sig community-experience

[2022-03-09 19:15] schwesig commented on #66
/sig community-experience

[2022-03-09 19:15] schwesig commented on #64
/sig community-experience

[2022-03-09 19:17] schwesig commented on #64
will close this issue
for now, SP meetings for SIG ComExp will be asynchronous over chat and slack, and 1:1 meetings/calls.

/close

[2022-03-09 19:17] sesheta commented on #64
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/64#issuecomment-1063270216):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-03-09 19:17] #64 closed

[2022-03-09 19:17] schwesig commented on #96
/sig community-experience

[2022-03-09 19:19] schwesig commented on #96
looks good to me
what do others think?
@codificat @tumido @goern @aakankshaduggal ...

[2022-03-09 19:21] schwesig commented on #91
/sig community-experience
/area metrics

[2022-03-09 19:21] schwesig commented on #61
/sig community-experience
/area metrics

[2022-03-09 19:21] schwesig commented on #62
/sig community-experience
/area metrics

[2022-03-09 19:22] schwesig commented on #62
we decided on this in SP Metrics.
this issue can be closed.
the SP Metrics Strategic will be part of the SP Metrics until further notice or need

/close

[2022-03-09 19:23] #62 closed

[2022-03-09 19:23] sesheta commented on #62
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/62#issuecomment-1063275463):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-03-09 19:24] schwesig commented on #47
/sig community-experience

[2022-03-09 19:24] schwesig commented on #85
/sig community-experience

[2022-03-09 19:24] schwesig commented on #78
/sig community-experience

[2022-03-09 19:24] schwesig commented on #58
/sig community-experience

[2022-03-09 19:24] schwesig commented on #88
/sig community-experience

[2022-03-09 19:24] schwesig commented on #89
/sig community-experience

[2022-03-09 19:24] schwesig commented on #63
/sig community-experience

[2022-03-09 19:24] schwesig commented on #60
/sig community-experience

[2022-03-09 19:26] schwesig commented on #63
can be closed for now.
until further notice: the communication will be asynchronous in gchat, slack or 1:1 if needed

/close

[2022-03-09 19:26] #63 closed

[2022-03-09 19:26] sesheta commented on #63
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/63#issuecomment-1063279284):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-03-09 19:40] MichaelClifford commented on #96
+1

[2022-03-09 21:11] codificat commented on #96
I agree, something like `(\[(SIG|WG) name\] )?meeting title` (some meetings don't belong to a SIG or WG)

[2022-03-09 21:13] codificat commented on #58
/area communication

[2022-03-09 21:14] codificat commented on #60
/area communication

[2022-03-09 21:14] codificat commented on #89
/area communication

[2022-03-09 21:15] codificat commented on #88
/area communication

[2022-03-09 21:15] codificat commented on #78
/area communication

[2022-03-09 21:15] codificat commented on #85
/area communication

[2022-03-09 21:18] codificat commented on #72
/area governance

[2022-03-09 21:18] codificat commented on #59
/area governance

[2022-03-09 21:19] codificat commented on #79
/area governance

[2022-03-09 21:59] codificat commented on #92
I believe we should properly identify the repos and update `sigs.yaml` accordingly.

Besides that though, should we also consider SIGs in related projects (e.g. [Thoth](https://github.com/thoth-station/core/blob/master/community/sig-list.md)) or only the reference from this repo?

[2022-03-09 22:55] KPostOffice commented on #59
I like the labels 👍🏻

[2022-03-10 09:12] schwesig commented on #66
/area governance

[2022-03-10 09:13] schwesig commented on #73
/area governance

[2022-03-10 09:13] schwesig commented on #79
/area governance

[2022-03-10 09:13] schwesig commented on #59
/area governance

[2022-03-10 09:13] schwesig commented on #69
/area governance

[2022-03-10 09:13] schwesig commented on #64
/area governance

[2022-03-10 09:14] schwesig commented on #96
/area governance

[2022-03-10 09:16] schwesig commented on #47
/area communication

[2022-03-10 09:16] schwesig commented on #63
/area communication

[2022-03-11 14:11] schwesig commented on #88
Realized one thing:
besides having _H4 People/Teams/Skills_ needed in the pre-meeting Newsflash,
we may need the are "be prepared", with links to PRs, Issues or documents, that will be decided on, merged or referred to in the upcoming meeting?!

The same as _H4 People/..._ , this can be optional.

But to streamline the meeting itself and safe valuable time for everybody in the meeting, it is easie

[2022-03-11 14:34] schwesig commented on #96
everybody feel free to comment or add the final name and how it should look like.
See table in the start comment https://github.com/open-services-group/community/issues/96#issue-1164323264

[2022-03-11 20:54] oindrillac commented on #96
Some of the meeting titles have the words "weekly meeting", "bi-weekly meeting", "meeting" and some have nothing after `[sig/wg name][sp name]`. Shall we standardize this to keep either "meeting" or "cadence + meeting" or nothing after each meeting?

[2022-03-11 20:55] oindrillac commented on #89
/assign @oindrillac

[2022-03-11 20:56] oindrillac commented on #87
@codificat maybe lets merge these, move over the content and close that or keep using that board?

[2022-03-11 21:04] oindrillac commented on #76
In general, I think we can think of two types or kinds of channels:

1. one to promote our content to a wider audience. eg: blogs, meetups, conferences, groups, websites etc which can also be tracked via https://github.com/open-services-group/community/issues/87 as separate issues similar to how we track conferences in https://github.com/orgs/AICoE/projects/5
2. one to share and communicate update

[2022-03-11 22:29] schwesig commented on #76
/area communication
/sig community-experience

[2022-03-14 16:54] schwesig commented on #89
next steps:

- [ ] create two final documents from https://github.com/open-services-group/community/issues/88
  - [ ] pure template (copy & paste ready) (MVP)
  - [ ] template prefilled and commented (as a tutorial, explanation how to use it and what the different areas are for)
- [ ] schedule meetings with the hosts/note taker/chairs (groups 4 or less) to
  - [ ] explain templates, how to use; th

[2022-03-14 17:07] schwesig commented on #88
future things to solve:
@oindrillac thanks for the findings: it is not easy to extract the google shortcuts (@meeting etc) in an automated way.
maybe we need a different way for extracting or creating the meeting documents.

- [ ] [SP ComCom] How to parse the meeting notes created with the template

[2022-03-14 17:08] schwesig opened #97 "[SP ComCom] How to parse the meeting notes created with the template"
## longterm / future things to solve
@oindrillac thanks for the findings: it is not easy to extract the google shortcuts (@meeting etc) in an automated way.
maybe we need a different way for extracting or creating the meeting documents.

[SP ComCom] How to parse the meeting notes created with the template

- [ ] how to read the google shortcuts like `@meeting`

_Originally posted by @schwesig in h

[2022-03-14 17:08] schwesig commented on #97
/sig community-experience
/area communication

[2022-03-14 17:13] schwesig commented on #97
/woof

[2022-03-14 19:16] schwesig commented on #92
what do you mean by "proxy" ?

and yes, that was in the plan. But I didn't want to wait on this to long and blocking the metrics, MVP.

[2022-03-15 14:15] schwesig opened #98 "[SIG ComExp][SP ComCom]Tracking the NewsFlash channel in the OSG Google Calender"
This issue tracks the sending out of the NewsFlash pre- & post-meeting.
Every week gets its own comment.

helper: https://www.tablesgenerator.com/markdown_tables

## MUST/MVP

- OSG Google Calender (13 entries as of 2022-03-15)
- NewsFlash post-meeting

## OPTIONAL

- NewsFlash pre-meeting

## Template
y x : yes | n o : no | u ? : unknown | w - : waiting | off : not in NewsFlash | hap. : meeting h

[2022-03-15 14:20] schwesig commented on #98
## week 12,  March 13. - 19.
| ID |current Meeting Title|Host/Chair|day|pre|past
|---|---|---|---|
| 1 | [SIG-Data-Science] Metrics weekly meeting | Hema Veeradhi |  |
| 2 | SIG Stack Guidance Meeting | Maya Costantini |  |
| 3 | [OSG] Steering Committee | Marcel Hild, Christoph Goern, Michael Clifford, Thorsten Schwesig, Tom Coufal |  |
| 4 | DevSecOps WG | Humair Khan, Harshad Reddy Nalla |  |
|

[2022-03-15 16:50] schwesig commented on #85
| ID | current Meeting Title                                          | Host/Chair                                                                    | day       | time  | frequenzy | calendar |
|----|----------------------------------------------------------------|-------------------------------------------------------------------------------|-----------|-------|-----------|----------|
| 1  | [SI

[2022-03-16 14:50] schwesig opened #99 "[SP ComCom] Template is used in all OSG meetings"
| ID | current Meeting Title                                          | Host/Chair                                                                    | using template | link to note                                                                                                                                                                  |
|----|-------------------------------------------------

[2022-03-16 14:51] schwesig commented on #99
/area communication

[2022-03-16 14:51] schwesig commented on #99
/sig community-experience
/area communication

[2022-03-16 17:07] schwesig commented on #98
/assign @schwesig

[2022-03-17 05:06] schwesig commented on #79
/assign @codificat
/assign @schwesig

[2022-03-21 11:50] schwesig commented on #98
week 13, March 20. to 26.
| ID | current Meeting Title                                          | Host/Chair                                                                    | day   | happened | pre | post |
|----|----------------------------------------------------------------|-------------------------------------------------------------------------------|-------|----------|-----|------|
| 1  |

[2022-03-23 12:17] schwesig commented on #65
we got our KPIs, we got our dashboard, if this will not add some more metrics in Q2, this issue can be closed

[2022-03-28 10:54] schwesig commented on #98
## week 14, March 27. to April 02.
| ID | current Meeting Title                                          | Host/Chair                                                                    | day   | hap. | pre | post |
|----|----------------------------------------------------------------|-------------------------------------------------------------------------------|-------|:----:|:---:|:----:|
| 1

[2022-03-30 14:21] schwesig opened #106 "[SCRUM][O2KR] Pre-Work to start the Product Backlog"
Collect the first user stories and/or epics for the first sprint on April, 18th

[2022-03-31 14:52] tumido opened #107 "[SIG Services][Guideline] Terms & Conditions"
A service should have aw suite of document called Terms and Conditions.

Recording: https://drive.google.com/file/d/1z8zkMXxksOYkwToGH7ZCVIp3koIB5M7H/view?usp=sharing

[2022-03-31 14:52] tumido commented on #107
/sig services

[2022-03-31 14:57] tumido opened #108 "[SIG Services][Guideline] Explain the security implications"
Explain the security implications of using the service so the user can understand and assess the risk

Why do we require these privileges to impersonate the user/act on their behalf?

Recording: https://drive.google.com/file/d/1eMIMtNLV48AuqFdH2RSckyWBhKSme9lf/view?usp=sharing

[2022-03-31 14:57] tumido opened #109 "[SIG Services][Guideline] Secure user data handling"
Secure user data handling is defined in End user agreement/Ts&Cs

Recording: https://drive.google.com/file/d/1eMIMtNLV48AuqFdH2RSckyWBhKSme9lf/view?usp=sharing

[2022-03-31 14:57] tumido opened #110 "[SIG Services][Guideline] Easy to add and remove user"
title: Easy to add and remove user
Description: the service can add/remove users via an API
Persona: Service-Consumer (subscribed) with Service-Admin role (ACL)
Phase: service-operational
Kind: feature

User perspective:
I authenticate and click a single button to subscribe to a service.

I authenticate and click a single button to unsubscribe to a service.
When unsubscribing all linked accounts a

[2022-03-31 14:58] tumido commented on #110
/sig services
/assign @mimotej
Resolved by #105

[2022-03-31 14:58] tumido opened #111 "[SIG Services][Guideline] Contract duration"
title: A contract duration is defined
Persona: Service-Consumer,  Service-Owner

It defines when the contract starts and when it ends and under what circumstances it can happen involuntarily by a breach of Ts&Cs

It states that user can be unsubscribed by:
Intentional uninstall action
End of contract from the service provider (timeout, eol,  bounced payment, breach of Ts&Cs…)

[2022-03-31 14:59] tumido commented on #111
/sig services
/assign @SamoKopecky
Resolved by #103

[2022-03-31 15:00] tumido opened #112 "[SIG Services][Guideline] User data collection/permissions"
What do we know about the user?
Social login should explain permission requests.

Recording: https://drive.google.com/file/d/1eMIMtNLV48AuqFdH2RSckyWBhKSme9lf/view?usp=sharing

[2022-03-31 15:00] tumido opened #113 "[SIG Services][Guideline] RBAC"
Each and every service owner should evaluate RBAC
The service has a RBAC or not.

Recording: https://drive.google.com/file/d/1eMIMtNLV48AuqFdH2RSckyWBhKSme9lf/view?usp=sharing

[2022-03-31 15:01] tumido commented on #108
/sig services

[2022-03-31 15:01] tumido commented on #109
/sig services

[2022-03-31 15:01] tumido commented on #112
/sig services

[2022-03-31 15:03] chauhankaranraj commented on #109
/assign

[2022-03-31 15:07] suppathak commented on #112
/assign @suppathak

[2022-04-01 15:58] #111 closed

[2022-04-04 06:28] schwesig commented on #98
## week 14, March 27. to April 02.
| ID | current Meeting Title                                          | Host/Chair                                                                    | day   | date | hap. | pre | post |
|----|----------------------------------------------------------------|-------------------------------------------------------------------------------|-------|------|------|-----

[2022-04-05 15:38] schwesig opened #115 "[SP GovOrg] Create/define a adr/rule/defintion how to end a SIG/SP/WG"
Initiated by a Slack comment
https://operatefirst.slack.com/archives/C01RT0S2WKX/p1648821769279099

[2022-04-05 15:38] schwesig commented on #115
/area governance
/area governance

[2022-04-05 15:41] schwesig commented on #115
/cc @HumairAK
/cc @4n4nd
/cc @codificat

[2022-04-05 15:42] schwesig commented on #115
next step: discussion in the next SIG ComExp meeting on Wednesday, 2022-04-06
feel free to join
https://calendar.google.com/event?action=TEMPLATE&tmeid=ZXVodTk0ZTRxY3JiNDMwZm5lbDcwZWVpOXNfMjAyMjA0MDZUMTUwMDAwWiBjXzlxZWw1dmJuaDBoaHJuYWI1dDkycXVyMGI0QGc&tmsrc=c_9qel5vbnh0hhrnab5t92qur0b4%40group.calendar.google.com

[2022-04-06 17:30] schwesig opened #117 "Refinement and Planning Sessions"
Refinement and Planning Sessions

started in discussion gchat
Thoth Station Developer Chat
by @goern Mon, Apr 4, 5:20am

we have just a tiny discussion about how we want to drive forward the refinement/planning sessions, and I would like everyone's input on that:
1. we want to have a workflow that enables SIGs to refine and plan features, these should be in line with our MVP and Open Services Grou

[2022-04-07 06:32] goern commented on #117
for Thoth Station we have https://github.com/thoth-station/core/blob/master/docs/TermsAndConditionsForTheScrum.md which guides us what the outcome of a refinement session shall be

[2022-04-07 08:56] #110 closed

[2022-04-07 12:54] #92 closed

[2022-04-10 13:50] schwesig commented on #98
## week 16, April 10. to April 16.
| ID | current Meeting Title                                          | Host/Chair                                                                    | day   | date | hap. | pre | post |
|----|----------------------------------------------------------------|-------------------------------------------------------------------------------|-------|------|------|-----

[2022-04-11 16:21] schwesig opened #122 "[Xpt] As the host of a meeting, I want the Pre- and Post-Meeting NewsFlash send out automatically, and don't want to think about the where, when and how. Therefore I can't forget it and everybody is informed."
Persona/ User: Host of a (regular) meeting or the responsible person/chair or the note taker
User's Story: I want the Pre- and Post-Meeting NewsFlash send out automatically, and don't want to think about the where, when and how.
Reason: I can't forget it and everybody is informed.

Define Done: ...

Additional Info:
e.g. MoSCoW

[2022-04-11 16:42] schwesig opened #123 "[Xpt] As an OSG All Hands Meeting, I don't want to spend my time on status updates so I have more time to have an informed discussion about the solution of blockers, future developments, and see some real life demos."
Persona/ User: OSG All Hands Meeting/ Meetinng/ Participants of a meeting
User's Story: I don't want to spend my time on status updates.
Reason: so I have more time to have an informed discussion about the solution of blockers, future developments, and see some real life demos.

Define Done: ...

Additional Info:
e.g. MoSCoW

[2022-04-13 07:04] schwesig opened #125 "Create a [SCRUM] repo/folder and label"
- [ ] create repo or folder? scrum-at-osg
- [ ] create label area scrum
- [ ] write readme
  - [ ] explain This Is How We SCRUM It
  - [ ] explain MUSTS

[2022-04-13 07:05] schwesig commented on #125
/sig community-experience
/area governance

[2022-04-13 07:24] schwesig opened #126 "[SCRUM] List of: Lessons Learned / TTS"

[2022-04-13 14:00] #113 closed

[2022-04-13 14:45] schwesig commented on #122
Just writing down an idea to braindump (not a prio or recommended solutions, just an idea)
- check (certain, array of) google calender(s) (google calendar api)
- look for certain meetings (title, id, participants, host)
- if found meeting is over and end of it is 2+ hours after
  - remind host about NewsFlash Post Meeting (email, slack, gchat, bot)
  - send him template (google form)
  - publish i

[2022-04-13 16:23] schwesig opened #127 "[Product Goal] Q2 O2KR2 - Build a community around the Operate First Community Cloud"
- Create and bootstrap an engagement model to cross-link end-user, application developer and operator, and platform operator communities, projects and users
- Continuously host user group meetings, to funnel feedback into Open Services Group’s product owner group and subsequently to Red Hat Product Management

[2022-04-13 19:08] Gkrumbach07 opened #128 "[SCRUM] [O1KR3] List of: Lessons Learned / TTS"
**SCRUM**
- not necessary to have daily meetings
- try to have meetings on Mondays to plan for the week
**Sprint Planning Meeting**
- We mostly just worked through EPICs the whole Q2
- pulling user stories from stakeholders backlog didn't seem to be used
    - instead we just created issues when need be as we had EPICS that when complete would complete our goals for the quarter
- Grooming was some

[2022-04-13 19:11] Gkrumbach07 opened #129 "[Product Goal] [O1KR3] - Build a community around Thoth Guidance Service and drive adoption"
Continuously maintain a service reporting/information/status overview, and host related user group meetings, to funnel feedback into the services and its operation.

Create a community engagement dashboard, so that

- we have a clear documentation for users where to get support, where to  read the documentation, documents could provide how the processes of interacting with the community work
- fee

[2022-04-14 13:40] tumido opened #130 "[SIG Services][Guideline] Testing the service"
Test areas:
- Integration tests to cover all microservice interactions and third party interactions
- All common user scenarios are covered including cases when user should have access to only subset of features aka testing individual "service subscription plans"
- Service's scalability is tested
- Stress testing which help to define and verify Capacity/perf targets
- Security scan of all images a

[2022-04-14 13:50] tumido opened #131 "[SIG Services][Guideline] Contract duration service subset update"
If there are multiple subscription plans, they give user access to some subset of the service offering. This subset if finite and user doesn't need to  upgrade to richer offering to consume the current plan - no access to additional services is needed.

If subscription plan is changed automated plan migration for users is defined.

[2022-04-14 14:43] suppathak commented on #131
/assign @suppathak

[2022-04-14 19:12] sesheta commented on #16
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-19 13:27] schwesig opened #133 "[Xpt] I, as a (first time) visitor of op1st, want to have a more modern theme/look&feel of the op1st landing page operaste-first.cloud, so I do feel like being on an interesting and up-to-date website, that represents the edge technology that it is selling."
Persona/ User: (First time) visitor of op1st
User's Story: I want to have a more modern theme/look&feel of the op1st landing page operate-first.cloud
Reason: so I do feel like being on an interesting and up-to-date website, that represents the edge technology that it is selling.

Define Done:
1 to 3 first sprint
1. [small] Having 3 templates to present to the stakeholder (paid or free) e.g. https:

[2022-04-19 14:12] schwesig opened #134 "[Xpt][EPIC] I, as OSG SIG Metrics, want to transfer my topics and tasks to the op1st SIG Metrics, so I can hand over the established process, an focus on new topics, processes and/ or less meetings."
Persona/ User: OSG SIG Metrics
User's Story: I want to transfer my topics and tasks to the op1st SIG Metrics
Reason: so I can hand over the established process, an focus on new topics, processes and/ or less meetings.

Define Done: All current topics, tasks, issues, meetings, responsibilities, communications, accountabilities (as of date: 2022-04-19) are moved to, established with, setup on, done

[2022-04-19 15:08] schwesig opened #135 "[EPIC 2] I, as a Manager of op1st, want to know the current interaction points, channels, landing and entry pages, so I can figure out the current status, what needs to be continued, what needs to be upgraded or downgraded."
Persona/ User: Manager of op1st
User's Story: I want to know the current interaction points, channels, landing and entry pages
Reason: so I can figure out the current status, what needs to be continued, what needs to be upgraded or downgraded

Define Done: A full list, description, quantity and quality of all input, start, contact, communication channels, pages, sites, etc. interested people can g

[2022-04-19 15:08] schwesig opened #136 "[Xpt] I, as a Manager of op1st, want to see in overview and details how users interact with our community channels, so I can easily check funnels, grow rates, churn rates, entry and exit points, most active channels, most successful funnels."
Persona/ User: Manager of op1st
User's Story: I want to see in overview and details how users interact with our community channels
Reason: so I can easily check funnels, grow rates, churn rates, entry and exit points, most active channels, most successful funnels

Define Done: A created funnel, a travel map, with current figures on the different nodes.

Additional Info:
e.g. MoSCoW

[2022-04-19 16:15] schwesig opened #137 "[SCRUM][O2KR2][Sprint Goal] 1 - 2022-04-18 to 2022-05-02"
Story Points:
Goals:
A) Update the website operate-first.cloud (mockup, no deployment) by reusing the current content, finding (quality) gaps and missing parts https://github.com/open-services-group/community/issues/135
- Creating a current and a future sitemap for operate-first.cloud. (best in miro)
- Every node and leaf of the current sitemap gets a green, yellow, red, X (green: good, can be use

[2022-04-19 16:31] schwesig opened #138 "[EPIC 1] As a Visitor/ potential contributor of github repo op1st/support issues, I want to have a clean and easy to navigate list of support issues, so I can easily see what issues are currently worked on, are important and where I can contribute."
Persona/ User: As a Visitor/ potential contributor of github repo op1st/support issues
User's Story: I want to have a clean and easy to navigate list of support issues
Reason: so I can easily see what issues are currently worked on, are important and where I can contribute.

Define Done: ...

This epic will be solved by:

- [x] https://github.com/open-services-group/community/issues/154
- [x] http

[2022-04-19 17:25] Gkrumbach07 opened #140 "[SCRUM][O1KR3][Sprint Goal] 1 - 2022-04-18 to 2022-05-02"
**Goals**
- Direction and Decisions
   - [ Define our terms and conditions for a issue](https://github.com/open-services-group/community/issues/143)
   - [Define means of communication](https://github.com/open-services-group/community/issues/148)
   - [Source of information](https://github.com/open-services-group/community/issues/149)
- [Decide the minimum metrics to include to complete KR goals](

[2022-04-19 18:04] schwesig commented on #138
Ideas from Sprint Planning 2022-04-19
- Using the new Project View from GitHub and customized columns
  - who is working on it
  - see the status
- this Project can only create tools, rules, workflows, but not maintain the discipline for the next x years

Goals can be:
find best practices
finding tools

suggest to use project board views
documentation of best ways
finding good examples already run

[2022-04-19 18:50] Gkrumbach07 commented on #140
Sprint planning meeting: https://drive.google.com/file/d/1nqCqgO9q6EdFnGsbF_ZMjP9hvJgFDfZI/view?usp=sharing

[2022-04-19 19:13] oindrillac opened #141 "As a Thoth Service owner I want to define a list of metrics to track"
As a Thoth Service owner/maintainer, I want to see metrics related to the Thoth Guidance Service to track the quality of service offered and have a high level overview of the interactions with the community, so that we can funnel observations from these metrics back into operating the service.

- [x] Come up with aggregated metrics from the ones that are being captured in https://github.com/thoth-

[2022-04-19 20:01] Gkrumbach07 opened #143 "[2pt] As a Thoth Service owner I want to have a list of criteria that constitute an issue so that I can measure when an issue is has enough information"
## Persona / User

Thoth Guidance Service owner

## User's Story

I want to have a list of criteria that constitutes an issue

## Reason

so that I can measure when an issue is has enough information

## Define Done

- [ ] A PR updating Thoth T&C with a new **issue quality** section

## Additional Info
Current [terms and conditions](https://github.com/thoth-station/core/blob/master/docs/TermsAndCo

[2022-04-19 20:02] schwesig commented on #133
important note:
needs to be under oss licence
start here
https://www.gatsbyjs.com/starters/

[2022-04-20 12:54] Gkrumbach07 opened #144 "[EPIC] As a service user, I want to have a one stop location to interact with the community and its developers so I can give feedback on the service"
## Persona / User

Thoth Guidance Service user

## User's Story

I want to have a one stop location to interact with the community and its developers

## Reason

so I can give feedback on the service

## Define Done

- [ ] There needs to be a central page that links to all the forms of communication with the community
- [ ] There needs to be a way to differentiate between problem issues and feedba

[2022-04-20 14:47] Gkrumbach07 opened #145 "[2pt]As a service user, I want to be able to understand the format of creating an issue, so that my issues are more easily understood."
## Persona / User

Thoth Guidance Service user

## User's Story

 I want to be able to understand the format of creating an issue

## Reason

so that my issues are more easily understood

## Define Done

- [ ] Create (or modify) templates for each type of issue in the support repo.
- [ ] An example for each issue so user has a guideline to follow

[2022-04-20 19:38] Gkrumbach07 opened #146 "As a service user, I want to know broadly when the issue will be actively worked on so that I can be available for further questions and troubleshooting."
## Persona / User

Thoth Guidance Service user

## User's Story

 I want to know broadly when the issue will be actively worked on

## Reason

so that I can be available for further questions and troubleshooting.

## Define Done

[2022-04-20 19:39] Gkrumbach07 opened #147 "[EPIC] As a service user, when I open a PR, I want to have an estimated timeline for its resolution:"
## Persona / User

Thoth Guidance Service user

## User's Story

when I open a PR, I want to have an estimated timeline for its resolution

## Reason

- So that I can have a better understanding of when any related issues will be resolved
- So that I can anticipate the amount of additional time and effort that will go in the PR and plan other tasks accordingly

## Define Done

- [ ]  https://githu

[2022-04-20 19:45] #146 closed

[2022-04-20 20:01] Gkrumbach07 opened #148 "As a Thoth Guidance Service user, I want to have a clear understanding on which channel(s) of communication I should use so that I get assistance faster"
## Persona / User

Thoth Guidance Service user

## User's Story

I want to have a clear understanding on which channel(s) of communication I should use

## Reason

so that I get assistance faster

## Define Done

- [ ] Decide if to use a chat channel
- [ ] Decide on having one or multiple communication channels
- [ ] Decide the role of each communication channel

## Additional Info
Current known c

[2022-04-20 20:11] Gkrumbach07 commented on #148
## Decisions

### Decide if to use a chat channel
**Pros**
- quicker back and forth communication

**Cons**
- some channels dont store a full history of conversations
- have to convert threads into text on a GitHub issue for tracking
- not metric consuming friendly

**Decision**
- [ ] Yes
- [ ] No

### Decide on having one communication channel (GitHub)
**Pros**
- everything is archived in one pla

[2022-04-20 20:21] Gkrumbach07 opened #149 "As a Thoth Guidance Service user, I want to have a one stop location for the service's community so I dont have to click around for the information I want"
## Persona / User

Thoth Guidance Service user

## User's Story

I want to have a one stop location for the service's community

## Reason

so I dont have to click around for the information I want

## Define Done

- [x] Decide what hub/dashboard to use to host all the content

## Additional Info
Hub will at least include:
- Docs on the community structure
- Links to support
- Dashboard for user f

[2022-04-20 20:31] Gkrumbach07 opened #150 "As a Thoth Guidance Service owner, I want to initialize a web page so that it can fulfill O1KR3's goals"
## Persona / User

Thoth Guidance Service owner

## User's Story

I want to initialize a web page

## Reason

so that it can fulfill O1KR3's goals

## Define Done

- [ ] A hosted web page in Thoth Guidance Service

## Additional Info
Could be linked to https://thoth-station.ninja

[2022-04-21 07:10] schwesig commented on #133
STOP working on this topic:
related to a discussion in the WG Website Update:
There will be a website (operate-first.cloud) theme and a blog theme.
We weren't able to find an OSS template that has most of the needed action elements and block elements to fit our needs, therefore we stay with the old theme for now.
The blog theme can be more freely selected, the needed elements and blocks are availa

[2022-04-21 07:12] #106 closed

[2022-04-21 14:55] schwesig opened #151 "[55pt] As a manager of op1st I want to see what parts of the current sitemap of operate-first will still be available and used in the future sitemap on a miros board, so I can better see, how much needs to be copied, updated and rewritten, also a general idea what will change."

[2022-04-21 14:55] schwesig opened #152 "[55pt] As a manager of op1st I want to see the quality of every node, leaf and connection of the current sitemap operate-first.cloud in a miro board, so I can see what content I can just copy&paste, what content needs updates, what content can not be used at all and need a complete rewrite, and what topics/content will not make it into the new sitemap."

[2022-04-21 14:55] schwesig opened #153 "[55pt] As a manager of op1st I want to see the current sitemap of operate-first-.cloud on a miro board, so I can compare it to the future sitemap done by the WG Website update."

[2022-04-21 15:02] xtuchyna commented on #141
Updated issue for kebechet metrics:
- [ ] https://github.com/thoth-station/mi/issues/560

[2022-04-21 15:18] schwesig opened #154 "[Xpt][E1] As the owner/chair of the github op1st support I want to know and let others know, how the quality and running time of my issues is with mainly/only github methods and tools, so I can stay in one tool and find the problematic/long running issues fast."

[2022-04-21 15:18] schwesig opened #155 "[55pt][E1] As the owner/chair of the github op1st support I want to have one or more templates of recommended github project boards, so I can start fast without research, and maybe even be in a standard, that contributors already know from other projects, that makes it easier to get an overview."

[2022-04-21 15:18] schwesig opened #156 "[3pt][E1] As the owner/chair of the github op1st support I want to see some good examples and lessons learned from other repos that are using the github projects in a good way, so I can learn from it or take it as a template."

[2022-04-21 15:19] schwesig opened #157 "[3pt][E1] As the owner/chair of the github op1st support I want to learn more about best ways how to use github, projects so my issues are easier to maintain, easier to understand by the community and different contributors, so everybody can see who is working on what in what time and status."

[2022-04-21 15:19] schwesig opened #158 "[2pt][E1] As the owner/chair of the github op1st support I want to know why I should use the new project board view in github, so my issues are easier to check for quality and are easier to maintain."

[2022-04-21 16:13] sesheta commented on #26
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-04-25 12:59] Gkrumbach07 commented on #148
**Decide if to use a chat channel** [_Yes  G-Chat_]
Chat adds values to a community, but I wouldn't want it to be the primary form of communication due to the extra steps needs for archives and metrics. I vote to use G-chat as it supports threads and is already used by Thoth.

**Decide on having one communication channel (GitHub)**[ _Yes_]
Include a chat channel

**Decide the role of each communic

[2022-04-25 13:57] oindrillac commented on #148
1. Are non-RH members able to join g-chat? (Are we de-prioritizing non-RH user persona initially)
2. Any existing bots that we can use to export chat threads into a github issue?

[2022-04-25 14:37] chauhankaranraj commented on #147
Hey @Gkrumbach07, @oindrillac and I were thinking of having these as the "define done" criteria, please let us know if you have any feedback!

Define Done
- [ ] Figure out which repo/org we want to create this service for
- [ ] Retrain models (re-engineering features if needed) on that repo/org
- [ ] Update seldon inference service to use new model
- [ ] Update the tekton pipeline github bot to co

[2022-04-25 14:39] Gkrumbach07 commented on #150
/assign @Gkrumbach07

[2022-04-25 19:24] Gkrumbach07 commented on #147
Looks good. We might want to talk with @KPostOffice to see if this could be a job for Kebechet or a separate bot. I am not familiar with the bot mentioned.

[2022-04-25 19:32] Gkrumbach07 commented on #143
Currently Thoth uses these labels to describe an issue:

- kind/bug - Categorizes issue or PR as related to a bug.
- kind/cleanup - Categorizes issue or PR as related to cleaning up code, process, or technical debt.
- kind/demo - This is an Issue or PR someone want to give a demo or request a demo.
- kind/deprecation - Categorizes issue or PR as related to a feature/enhancement marked for deprecat

[2022-04-25 19:57] oindrillac commented on #147
Thanks! Right now the PoC service was setup as a webhook by @harshad16 which will comment on PRs such as like [this](https://github.com/harshad16/test/pull/76#issuecomment-1090827766). @KPostOffice @harshad16 please feel free to advise on where this would fit best.

[2022-04-26 11:27] harshad16 commented on #147
As this would provide a single service i.e time to merge for a PR.
It was designed to be a single tekton pipeline that can be triggered via an event listener.

I would suggest, that if there is some more feature that is in the planning stage, then we can convert this into its own GitHub app.
If we feel, we should plan for this, aicoe-ci is happy to accommodate this feature as its part till then.

[2022-04-26 11:58] suppathak commented on #143
Yup, It does makes sense.

Also, It seemed to me that this particular issue is similar to #145 . Wdyt? Are there any difference between the two?

[2022-04-26 12:42] Gkrumbach07 commented on #143
I would argue that issue #145 comes after this issue. This issues deliverables is just criteria for what makes an issue, where as #145 is about creating/altering specific templates.

[2022-04-26 14:42] oindrillac commented on #141
Started this initial [document](https://docs.google.com/document/d/1LSwAfFYx_oQ6gFCdW4oTZZuOt5PKFUAV7ib6l1fzFp0/edit?usp=sharing) with a list of metrics that can offer a high level overview of the service and its community. Feel free to add your suggestions.

[2022-04-26 14:57] Gkrumbach07 commented on #149
It is decided that we will create a [Gatsby](https://www.gatsbyjs.com/) site and host it using GitHub Pages. We will link to this site at [thoth-station.ninja](https://thoth-station.ninja/).

It will pull data from markdown files like how operate first does it. Those files will be stored in the same repo primarily but will be moved to better locations if need be. Most if all of the content will be

[2022-04-26 14:57] sesheta commented on #149
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/149#issuecomment-1109903432):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-04-26 14:57] #149 closed

[2022-04-26 14:58] Gkrumbach07 commented on #149
/assign @Gkrumbach07

[2022-04-26 15:03] suppathak commented on #148
1. GitHub issue : If a user wants a support which would require some technical help.
2. Slack: If a user (Red Hat or non Red Hat) wants some minor help or has some questions about the service. Also, I guess in the slack itself, the user can be directed to open an issue in GitHub.
3. G-chat: I suppose it can be used on only RH members right? The I am not sure if this would be a good way for communi

[2022-04-26 15:07] suppathak commented on #141
/assign @suppathak

[2022-04-28 12:45] Gkrumbach07 commented on #130
/assign @Gkrumbach07

[2022-04-28 13:54] tumido opened #159 "[SIG Services][Guideline] Have a customer 0"
Before releasing publicly consider getting a customer 0 so you can get instant feedback on the service before users start complaining right after initial release. Gather UX feedback, don't share any insider info with the customer, let them use it but watch them closely and be in contact as a close support.

Not a strong requirement, rather a nice to have.

[2022-04-28 13:58] tumido opened #160 "[SIG Services][Spike] Metrics/Observability"
We need to gather some input from other communities/members about metrics and observability.

cc @xtuchyna for exploring Thoth universe
cc @4n4nd for metrics/observability in Operate First

how other communities approach this topic? Gather materials and foundation discussion that will happen in the next SIG services 2022/05/12

[2022-04-29 02:20] Gkrumbach07 commented on #148
The [decision](https://github.com/open-services-group/community/issues/148#issuecomment-1104415073) is to use two communication channels: Slack for quick questions and minor help, and GitHub for hosting bigger issues that should be tracked.

[2022-04-29 02:20] #148 closed

[2022-04-29 02:27] Gkrumbach07 commented on #149
**Acceptance**
cc @goern

[2022-04-29 12:32] Gkrumbach07 commented on #143
/assign @Gkrumbach07
/assign @suppathak

[2022-05-02 12:52] #150 closed

[2022-05-02 14:03] Gkrumbach07 commented on #143
Changed acceptance criteria to accept Pep's PR as a definition of done.

/assign @codificat
/unassign @suppathak
/unassign @Gkrumbach07

[2022-05-02 14:50] hemajv commented on #135
We attended the Operate First Website WG meeting last week and the following were discussed which will determine how to start working on this issue moving forward:

- A new Gatsby framework already being experimented with to reflect new website changes: https://operatefirst.slack.com/archives/C036JDXAH0S/p1650551279992679
- Parallel workstreams to continue to create new content and site re-design

[2022-05-02 17:49] Gkrumbach07 commented on #150
http://thoth-station.ninja/help/

[2022-05-02 18:26] hemajv commented on #153
There is already a new site being laid out here: https://www.operate-first.cloud/website-ng/
Just want to make sure the miro board we create would add value as I believe the layout has already been agreed upon by the website WG and they are maintaining a separate miro board to track this.
cc @aakankshaduggal @schwesig

[2022-05-02 18:32] schwesig commented on #153
This is not really answering the user story in my opinion.
This would be maybe the answer to https://github.com/open-services-group/community/issues/151

[2022-05-02 18:39] hemajv commented on #151
Updated a miro board to capture this information: https://miro.com/app/board/uXjVO7U82fU=/

[2022-05-02 20:01] aakankshaduggal commented on #151
We have also added the data science persona roadmap to the miro board. Most of the content is available on the website as of now, we can go ahead and re-organize it as per the new design.

[2022-05-02 20:40] erikerlandson commented on #157
There are a few alternative approaches to this:
1. improve navigation from `community` page(s) so people from other adjacent communities can navigate to opf-specific boards.
2. cross-linking issues (e.g. from an issue filed on `os_c_data_commons` or other osc project to some corresponding issue on OPF)
3. Adding a link to an OPF issue into an OSC kanban "note":
a. https://tosbourn.com/github-proje

[2022-05-02 20:56] erikerlandson commented on #157
IMO the new "beta" github projects have nice options for project visualization, and for anyone who can navigate to OPF project board, it would improve ability to understand the state of OPF activities

Many people create boards without "beta", and it would be nice if "beta" became the default.

[2022-05-02 22:16] erikerlandson commented on #157
Another issue with my proposed solution is that the most likely project board is private:
![image](https://user-images.githubusercontent.com/259898/166335964-a2588aa0-2ef7-4d43-b82d-82353b0f0bdc.png)

[2022-05-02 22:23] erikerlandson commented on #156
Some references:
- https://github.com/open-services-group/community/issues/157#issuecomment-1115345575
- https://tosbourn.com/github-projects-different-organisations/

[2022-05-03 09:13] schwesig opened #161 "O2KR2 EPIC 1"

[2022-05-03 13:05] schwesig opened #162 "[EPIC 3] As a interested KubeCon visitor, I want to get more details what Operate First is and where it helps me, so I need a wowing experience with a clear structure and easy to find the why, what and how."

[2022-05-03 13:24] schwesig opened #163 "[3pt][E3] As a visitor of operate-first.cloud (ng), I want all the social media buttons on the website to work properly, so I have different options to communicate with the community and be informed."
## Persona / User
visitor of operate-first.cloud

## User's Story
I want all the social media buttons on the website to work properly

## Reason
So I have different options to communicate with the community and be informed

## Define Done
1. github icon is linked to https://github.com/operate-first
2. slack icon is linked to https://operatefirst.slack.com/ssb/redirect
3. youtube icon is linked to

[2022-05-03 13:31] schwesig opened #164 "[Xpt][E3] As a visitor of operate-first.cloud (ng), I want the Our Purpose menu item to work, so I can read and understand the purpose of Operate First"

[2022-05-03 13:37] schwesig opened #165 "[2pt][E3] As a visitor of operate-first.cloud (ng), I want the Community menu item to work, so I can find out about the community and participate."

[2022-05-03 13:39] schwesig opened #166 "[2pt][E3] As a visitor of operate-first.cloud (ng), I want the Docs&Training menu item to work, so I can look up solutions and learn the basics and become better."

[2022-05-03 13:43] schwesig opened #167 "[2pt][E3] As a visitor of operate-first.cloud (ng), I want the Op1st Community Cloud menu item to work, so I can read more about the Operate First Environments Managed Services and more."

[2022-05-03 13:43] schwesig commented on #167
https://www.operate-first.cloud/apps/content/README.html

[2022-05-03 13:46] schwesig commented on #165
https://www.operate-first.cloud/community/README.html

[2022-05-03 16:56] schwesig opened #169 "[3pt][E3] As a #persona#, I want to see the Data Science area as a jupyter notebook, so it is more dynamic and has it's own repo."

[2022-05-03 17:05] Gkrumbach07 opened #170 "[2pt]As a Thoth Guidance Service owner, I want to define the navigation layout for the help site, so that I can more easily gather metrics and organize documents"
## Persona / User

Thoth Guidance Service owner

## User's Story

I want to define the navigation layout for the help site

## Reason

so that I can more easily gather metrics and organize documents

## Define Done

- [x] Design a navigational layout for the help site
    - [x] which main headers to use
    - [x] where to put what content
 - [ ] A PR to add the navigational headers to the help sit

[2022-05-03 17:10] Gkrumbach07 opened #171 "[SCRUM][O1KR3][Sprint Goal] 2 - 2022-05-03 to 2022-05-16"
**Goals**
- Populate the Help site with documentation already available
- ~~Metrics (pending stakeholder review)~~
- estimated timeline

**Review**

- [x] https://github.com/open-services-group/community/issues/170
- [x] https://github.com/thoth-station/help/issues/3

[2022-05-03 17:35] oindrillac opened #172 "[EPIC] As a Thoth service owner, I want to track metrics"
## Persona / User
Thoth service owner

## User's Story
Capture, calculate and track metrics and display them on dashboard(s)

## Reason
So that we can funnel observations from these metrics back into operating the service.

## Define Done

- [ ] Site, Github and Chat Metrics defined in [document](https://docs.google.com/document/d/1LSwAfFYx_oQ6gFCdW4oTZZuOt5PKFUAV7ib6l1fzFp0/edit?usp=sharing) are

[2022-05-03 17:57] Gkrumbach07 commented on #141
/close

[2022-05-03 17:57] #141 closed

[2022-05-03 17:57] sesheta commented on #141
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/141#issuecomment-1116385957):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-05-03 18:43] suppathak opened #173 "[5pt]As a thoth guidance service user, I want to figure out the repo/org, I want to create service for and to collect github data for respective repos."
## Persona / User
Thoth Guidance Service User

## Reason
Related to #147

## Define Done
- [ ] Figure out which thoth-station repo we want to create this service for
- [ ] Collect the github data from selected thoth-station repos.

[2022-05-03 18:44] suppathak opened #174 "[8pt]As a thoth guidance service user, I want to update seldon inference to use new model and update the tekton pipeline github bot to comment on repo/org"
## Persona / User
Thoth Guidance Service User

## Reason
Related to #147

## Define Done
- [ ]  Update seldon inference service to use new model
- [ ]  Update the tekton pipeline github bot to comment on the org/repo decided in criterion #173

[2022-05-03 21:30] #109 closed

[2022-05-03 22:33] schwesig commented on #153
Accepted by Stakeholder @durandom during 1:1 with @schwesig on Tue, 03. 2022

[2022-05-03 22:34] schwesig commented on #152
Accepted by Stakeholder @durandom during 1:1 with @schwesig on Tue, 03. 2022
see miro board https://miro.com/app/board/uXjVO7U82fU=/

[2022-05-03 22:34] schwesig commented on #151
Accepted by Stakeholder @durandom during 1:1 with @schwesig on Tue, 03. 2022
see miro board https://miro.com/app/board/uXjVO7U82fU=/

[2022-05-04 00:00] schwesig opened #175 "[Xpt] As *persona*, I would like to see a list of communities that run and work on Operate First, so I can see what topics and projects use op1st, how active they are, and what workload is created."
First Stakeholder @durandom
mentioned in an email 2022-05-03
in context with Mass Open Cloud, Boston University, smartcities, smart village demonstrator, Sweden

[2022-05-04 00:20] schwesig commented on #98
## week 19, May 1. to May 7.
| ID | current Meeting Title                                          | Host/Chair                                                                    | day   | date | hap. | pre | post |
|----|----------------------------------------------------------------|-------------------------------------------------------------------------------|-------|------|------|-----|-----

[2022-05-04 13:04] schwesig opened #176 "[SCRUM][O1KR3][Sprint Goal] 2 - 2022-05-03 to 2022-05-19"

[2022-05-04 13:10] schwesig commented on #176
In this Sprint the main goal is to update the operate-first.cloud webseite.
KubeCon is coming up this month, and possible leads or interested visitors should easily find the information they need, learn about op1st and hopefully are wowed and attracted to spend time on our site.

[2022-05-04 13:15] schwesig commented on #163
6 social media buttons are on the page
![image.png](https://images.zenhubusercontent.com/618d63a33497546376904a9f/0c82aeb5-3740-4fbd-b7f0-fa19a3e0f5c1)

[2022-05-04 13:17] schwesig commented on #164
![image.png](https://images.zenhubusercontent.com/618d63a33497546376904a9f/a546656b-74f4-47bf-ba23-10bdd44c10a5)

[2022-05-04 13:21] schwesig commented on #165
![image.png](https://images.zenhubusercontent.com/618d63a33497546376904a9f/f9b43473-cd82-4bbd-a38a-8ac6dd92a6bc)

[2022-05-04 13:21] schwesig commented on #166
![image.png](https://images.zenhubusercontent.com/618d63a33497546376904a9f/7f325390-c8fb-4d36-9e92-5ff04a5625c0)

[2022-05-04 13:28] schwesig commented on #166
consider this
https://hackmd.io/KE7KRZZRQwyQfRYZw78k_Q

copy below from version 2022-05-04 09:29 ET

1. Docs & Training [landing page]
    1. GitOps documention: https://www.operate-first.cloud/apps/content/README.html
    2. Stephanie can add training links to the page when it's ready
    3. Layout
        - (Getting Started)
        - Docs
            - [Getting Started](/commmunity/getting-star

[2022-05-04 13:37] schwesig commented on #176
![image.png](https://images.zenhubusercontent.com/618d63a33497546376904a9f/382fa726-18ad-4e09-95d9-10ee75e0198f)

[2022-05-04 14:36] schwesig opened #177 "[Xpt] As an contributor or interested visitor of the OSG or op1st SIGs, SPs or WGs, I want to see the same structure on all landing pages (readme), so I can easily join meetings, read meeting notes, contact chairs and members, know what channels."

[2022-05-04 14:43] schwesig commented on #177
most likely an epic with
per
- OSG
- op1st
- thoth

collect all readme, landing pages, etc

per
- SIG
-

[2022-05-04 17:24] Gkrumbach07 commented on #147
/epic

[2022-05-04 17:24] Gkrumbach07 commented on #147
/label epic

[2022-05-04 17:50] suppathak commented on #173
/assign @oindrillac
/assign @chauhankaranraj
/assign @suppathak

[2022-05-04 18:36] #130 closed

[2022-05-04 18:57] codificat opened #178 "Close the sub-projects under SIG-Community Experience"
## Persona / User

Members of SIG-Community Experience

## User's Story

The team has decided, over the last 2 meetings, to handle all the work of SIG-Community Experience directly by the SIG, without the need to distribute it through sub-projects

## Reason

It is perceived that there is not enough volume to justify separate work streams.

## Define Done

- [ ] SIG documentation is updated to ref

[2022-05-04 19:04] codificat commented on #56
As per recent SIG meetings, the decision was made to close the sub-projects and handle everything at the SIG level.
See #178 for more details.

Based on that, I believe that this issue is no longer relevant, so:
/close

[2022-05-04 19:04] #56 closed

[2022-05-04 19:04] sesheta commented on #56
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/56#issuecomment-1117704097):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-05-04 19:04] codificat commented on #59
As per recent SIG meetings, the decision was made to close the sub-projects and handle everything at the SIG level.
See #178 for more details.

Based on that, I believe that this issue is no longer relevant, so:
/close

[2022-05-04 19:04] sesheta commented on #59
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/59#issuecomment-1117704548):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-05-04 19:04] #59 closed

[2022-05-04 19:04] codificat commented on #58
As per recent SIG meetings, the decision was made to close the sub-projects and handle everything at the SIG level.
See #178 for more details.

Based on that, I believe that this issue is no longer relevant, so:
/close

[2022-05-04 19:04] sesheta commented on #58
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/58#issuecomment-1117704973):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-05-04 19:04] #58 closed

[2022-05-04 19:04] codificat commented on #61
As per recent SIG meetings, the decision was made to close the sub-projects and handle everything at the SIG level.
See #178 for more details.

Based on that, I believe that this issue is no longer relevant, so:
/close

[2022-05-04 19:04] #61 closed

[2022-05-04 19:04] sesheta commented on #61
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/61#issuecomment-1117705700):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-05-04 19:08] codificat commented on #66
As per recent SIG Community Experience meetings, the decision was made to close the sub-projects and handle everything at the SIG level. See #178 for more details.

From the SIG Data Science side, SP metrics owns the [metrics](https://github.com/open-services-group/metrics) repository and will continue to maintain it as appropriate - also from within the context of the Data Science SIG.

Based on

[2022-05-04 19:08] sesheta commented on #66
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/66#issuecomment-1117714277):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-05-04 19:08] #66 closed

[2022-05-05 14:36] schwesig commented on #26
I guess the answers and the merged PRs in the comments lead to closing this issue

/close

[2022-05-05 14:36] #26 closed

[2022-05-05 15:48] hemajv commented on #165
@schwesig do we know where this should be redirected to?

[2022-05-05 18:05] aakankshaduggal commented on #163
Buttons 1,2,3,4 are addressed by this PR - https://github.com/operate-first/website-ng/pull/9

[2022-05-05 18:25] aakankshaduggal commented on #166
@schwesig it's unclear to me as to where do we redirect the docs&training button to?

[2022-05-05 21:36] erikerlandson opened #181 "Notify OPF of solutions proposed on #157"

[2022-05-05 21:37] erikerlandson opened #182 "Notify OSC of techniques described on #157"
Two components of this:
- [x] send an email to the OSC developers email list explaining #157
- [x] add a link to the OPF OSC board: https://github.com/orgs/operate-first/projects/57/views/5

[2022-05-05 21:42] erikerlandson commented on #181
I explained the concepts on #157 to  @redmikhail and @HumairAK  on the OSG-OSC subproject call.

Humair also announced the creation of an OSC specific project board:
https://github.com/orgs/operate-first/projects/57/views/5

So this component of socialization is completed

[2022-05-05 22:07] erikerlandson commented on #182
OPF board link addressed by: https://github.com/os-climate/OS-Climate-Community-Hub/pull/29

[2022-05-05 22:32] erikerlandson commented on #182
email sent to Developers@lists.os-climate.org: "New ways to view Operate First support activities for OSC"

[2022-05-05 22:32] #182 closed

[2022-05-05 22:43] erikerlandson commented on #157
I cannot close this but now that OPF and OSC have been properly advised, I view it as complete.

[2022-05-06 12:35] #181 closed

[2022-05-06 13:18] schwesig opened #183 "test"

[2022-05-06 13:19] #183 closed

[2022-05-06 13:24] schwesig commented on #164
@hemajv according to this issue https://github.com/open-services-group/community/issues/151 it leads to Data Science?
![image](https://user-images.githubusercontent.com/89909507/167140089-903fdd33-1101-489a-a6ed-17c822b8c07c.png)

Is Data Science correct?

If not, I would say:
https://www.operate-first.cloud/community/

[2022-05-06 13:28] schwesig opened #184 "[EPIC 5][Xpt] Operate First Value ODH/RHODS/THOTH"
- [x] 1. collect Values (step one mvp, butongoing process)
- [x] 2. create (gdoc) document [gDoc link](https://docs.google.com/document/d/1L9_G4qPQwUgAd3isqDErioXo7vayDvUhyTWZtVU9Bp8/edit#heading=h.qbvr6l73b8u)
- [ ] 3. create an online jupyterbook of the gDoc
- [ ] 4. maintain and update/ grow jupyterbook

please add anybody you think could contribute here with ideas
E.g. converting the mail thre

[2022-05-06 13:46] schwesig commented on #166
according to https://github.com/open-services-group/community/issues/151 and the miro board in there,
to Blueprints or/and (via a landing page, if available) to Data Science Learning Pathway
![image](https://user-images.githubusercontent.com/89909507/167145583-6ca645bf-1fe5-42b7-b006-2d61e8f7f945.png)

[2022-05-06 16:32] hemajv commented on #164
@bryanmontalvan has created new landing pages for the nav bar: https://github.com/operate-first/website-ng/pull/12
You can view the landing page here: https://www.operate-first.cloud/website-ng/about

We still need to decide on the content for this page

[2022-05-06 16:34] hemajv commented on #165
@bryanmontalvan has created a new landing pages for the `Community` tab: https://github.com/operate-first/website-ng/pull/12
You can view the landing page here: https://www.operate-first.cloud/website-ng/community

[2022-05-06 16:38] hemajv commented on #166
@bryanmontalvan has created a new landing page for the `Docs/Training` tab: https://github.com/operate-first/website-ng/pull/12
You can view the landing page here: https://www.operate-first.cloud/website-ng/docs-training

We need to add some more content to this page

[2022-05-06 16:39] hemajv commented on #167
@bryanmontalvan has created a new landing page for the `Op1st Community` tab: https://github.com/operate-first/website-ng/pull/12
You can view the landing page here: https://www.operate-first.cloud/website-ng/community-cloud

We still need to add some more content to this page

[2022-05-06 19:52] aakankshaduggal commented on #163
Updated links for these buttons :
![image](https://user-images.githubusercontent.com/26301643/167207734-b3860587-5960-4a0d-af40-983aecfa0919.png)
in the PR - https://github.com/operate-first/website-ng/pull/11

[2022-05-07 06:16] schwesig commented on #184
https://docs.google.com/document/d/1L9_G4qPQwUgAd3isqDErioXo7vayDvUhyTWZtVU9Bp8/edit

[2022-05-07 06:19] schwesig opened #185 "[Xpt] As the creator or uploader of a youtube video for operate first, I want to have a guideline, so I know what metadata to use, that intro/outros to set, and what the general marketing rules for operate first are."
Creating a guideline or template in youtube,
for
a) basic meta data and rules to follow
b) when to start a new playlist
c) what rules to follow per playlist

also getting ideas for got buttons, overlays, links, and recommended next videos.

[2022-05-07 06:24] schwesig opened #186 "[EPIC 4] As the host of a meeting/chair of a group, I want to have a metrics/dashboard/funnel from first contact to becoming an active contributor, so I can see how and why my community grows."
- [x] 1. create a useful funnel (blueprint)
- [x] 2. set it up for one community (Thoth or OS Climate)
- [x] 3. test it and adjust it
- [x] 4. stabilize it
- [x] 5. run it on the other (Thoth and OS Climate)
- [ ] 6. deploy it on the other communities

Questions:
e.g.
- what channels lead to my meetings (first time attendee, xth time attendee)
- what communication/content lead to my meetings (firs

[2022-05-07 06:35] schwesig opened #187 "As the chair/host of the community Thoth, I want to have a funnel set up for my different contact points, so I can see where and how my community grows."

[2022-05-07 06:36] schwesig opened #188 "[8pt][E4] Part 1 As the creator of the dashboard/funnel for OS Climate Community, I need the blueprint of the path, so I know the the goal and path a user can & should follow, defined by the host/chair of OS Climate."
Part 1
- [ ] Data Collection
- [ ] Anonymize
- [ ] What we have, what we need, what is missing/hard to get

Part 2
- [ ] Dashboard
- [ ] Metrics

[2022-05-09 12:51] oindrillac commented on #170
/assign @oindrillac

[2022-05-09 12:52] schwesig opened #189 "operate-first.cloud make it https"

[2022-05-09 12:53] schwesig commented on #189
could you help me with making this https://

Tom Coufal
meteor is reconciling those resources - they are not gitops tracked. However meteor doesn't know how to handle https or any advanced route features on a meteor, so I simply edited the jupyterbook route for this meteor - adding annotation kubernetes.io/tls-acme: "true" does the trick (so acme operator knows to request a cert for it)

[2022-05-09 14:52] oindrillac commented on #173
The thoth-station/support repo doesnt have enough PRs for us to train this model on.

Thus, for retraining the model the 2 options that we are considering are:
1. Using the data from aggregating all repos in the thoth-station org & using that to train the model. (Cons - org has a lot of repos, some of which may not be meaningful to this use-case)
2. Finding a subset of repos from the org which wil

[2022-05-09 15:25] codificat commented on #189
This is a bit unclear to me:

what is "this" that needs `https://`?  the title says "operate-first.cloud", but that is already available via https (and http redirects to https)

which resources?

[2022-05-09 15:34] schwesig commented on #189
was meant as an reminder to add this to some kind of documentation
wrong area, wrong description... need to rethink
closed for now
/close

[2022-05-09 16:25] Gkrumbach07 commented on #173
Currently the support repo isnt used that often, and the issues that do get resolved dont always have an attached PR. So maybe instead of time to merge a PR. We can also have _time to close an issue_. We can use the `lifecycle` labels to create a more accurate timeline too.

I agree that we can exclude bot made PRs and issues. so Issues that dont have a `bot` label.

As for what repos to train on,

[2022-05-09 17:14] Gkrumbach07 commented on #170
https://docs.google.com/document/d/1jOseHTISxTyRKnngAEnyGACuCdqWKIUdrpPrQABQBrw/edit#

[2022-05-10 05:26] schwesig commented on #189
https://operate-first.cloud/action -->
https://operate-first-in-action.catalog.meteor.zone/README.html

https://github.com/operate-first/operate-first-in-action

[2022-05-10 09:05] #143 closed

[2022-05-10 09:19] schwesig opened #190 "[Xpt][E5] Create an online jupyterbook from the gDoc"

[2022-05-10 11:28] #140 closed

[2022-05-11 14:51] Gkrumbach07 commented on #148
Accepted:  Slack may be preferred but if we want to reach more people we need more than one channel (i.e. have both slack and gchat). We decided on setting up a Slack instance/server, but not removing the old public facing gchat. We will monitor usage to see if slack is worth keeping or migrating too

[2022-05-11 15:36] schwesig opened #191 "[8pt][E3]As a visitor of operate-first.cloud (ng), I want all links working and find content on every page."
Update/Basic functionality
- [x] index.js

Create
- [x] srepractice.js
- [x] developer.js
- [x] data-scientist.js
- [x] community.js

Fill with content (copy & paste from old page)
- [x] about.js
- [x] srepractice.js
- [x] developer.js
- [x] data-scientist.js
- [x] community.js

Update with a nicer layout
- [x] srepractice.js
- [x] developer.js
- [x] data-scientist.js
- [x] community.js

Update wi

[2022-05-11 19:03] oindrillac commented on #173
Thanks for the information and the suggestion @Gkrumbach07.

We can explore `Time to close an Issue` model as a Spike and see if thats something we can deliver. The approach would seem similar to the Time to Merge model, but we would need to performing eda, engineer features, and train a model particular to this use case. Opening an Issue for this.

We will exclude these from our model development

[2022-05-12 13:09] Shreyanand opened #192 "metrics"

[2022-05-12 13:53] Shreyanand opened #193 "Usage metrics"

[2022-05-13 17:01] #170 closed

[2022-05-16 11:26] Gkrumbach07 opened #194 "[SCRUM][O1KR3][Sprint Goal] 2 - 2022-05-16 to 2022-05-30"
- Add Google analytics to web page
- Time to merge estimation
- Thoth config docs
     - (MAYBE) Thoth help page for Thoth options

## Done
- https://github.com/open-services-group/community/issues/195
- https://github.com/open-services-group/community/issues/173
- https://github.com/open-services-group/community/issues/197

[2022-05-16 11:57] Gkrumbach07 opened #195 "As a data scientist, I want to watch a demo of Thoth so that I can understand the value of the tool"
## Persona
data scientist

## User Story
 I want to watch a demo of Thoth

##
so that I can understand the value of the tool

## Done
- [ ] evaluate if tutorial (https://redhat-scholars.github.io/managing-vulnerabilities-with-thoth/managing-vulnerabilities-with-thoth/index.html) is sufficient to show value to a DS.
    - [ ] If not, make demo/tutorial (written or video)
- Add page to Thoth Help (P

[2022-05-16 12:00] Gkrumbach07 opened #196 "As a service user, I want to be able to check the status of the service I am using."
## Persona
service user

## User Story
I want to be able to check the status of the service I am using

## Reason
so that I can better diagnose if my issue is related to a more wide scale issue.

## Done
- [ ] Have a place for service check (checking whether if any application is down not not)
- [ ] Add downage indicators to Thoth help Page (linking to main downage page)

[2022-05-16 13:43] oindrillac opened #197 "[5pt][E4] As a Thoth service owner, I want to track site metrics and display them on a single dashboard and integrate them on the site.."
As a part of #172, I want to track site metrics and display them on a dashboard.

- [x] Set up Google Analytics on site. - https://github.com/thoth-station/help/pull/19
- [x] Create dashboard for initial defined metrics.
- [x] Determine how to automate dashboard and integrate dashboard on landing site.

[2022-05-16 14:00] Gkrumbach07 opened #198 "As a community member, I want to be able to interact with the community via a chat system"
## Persona
community member

## User Story
I want to be able to interact with the community via a chat system

## Done
- [ ] Create slack instance
- [ ] Add channels

[2022-05-16 14:17] oindrillac commented on #197
/assign @oindrillac

[2022-05-16 14:20] suppathak commented on #195
/assign @suppathak

[2022-05-17 01:18] suppathak commented on #173
Related https://github.com/aicoe-aiops/ocp-ci-analysis/issues/489

[2022-05-17 16:47] schwesig opened #199 "[Xpt][E4] As the creator of the dashboard/funnel for a community, I need the blueprint of the path, so I know the the goal and path a user can & should follow, defined as a general funnel template."

[2022-05-17 16:47] schwesig opened #200 "[Xpt][E4] As the chair/host of a community OS Climate, I want to have a funnel set up for my different contact points, so I can see where and how my community grows."

[2022-05-17 16:54] schwesig opened #201 "[Xpt][E4] As the creator of the dashboard/funnel for a Thoth Community, I need the blueprint of the path, so I know the the goal and path a user can & should follow, defined by the host/chair of Thoth."

[2022-05-17 17:03] schwesig commented on #191
website went live
@durandom and others accepted the PRs
there the changes were accepted

[2022-05-17 17:03] #191 closed

[2022-05-17 17:49] schwesig commented on #188
![image.png](https://images.zenhubusercontent.com/618d63a33497546376904a9f/9e0ff898-d0ba-4b08-ab7d-fa9c349db450)

[2022-05-17 17:56] schwesig opened #202 "[Xpt][E4] As a chair of OS Cimate I want to define a user journey path, so I can hand it over to the dashoard/metrics area."

[2022-05-17 17:59] schwesig commented on #202
- [ ] defining a user journey for OS Climate

1pt is defined as one day

[2022-05-17 18:23] suppathak opened #203 "[5pt]As a thoth guidance service user, I want to retrain the "time to merge" model on the data collected from this issue : #173"
## Persona / User
Thoth Guidance Service User

## Reason
Related to #147

## Define Done
- [ ] Retrain TTM models (re-engineering features if needed) on the data collected from repo (#173)

[2022-05-17 18:33] suppathak commented on #203
assign @oindrillac
assign @chauhankaranraj
assign @suppathak

[2022-05-18 09:48] codificat commented on #178
I started to work on this:
/triage accepted
/assign
/lifecycle active

However, it seems a SIG without any sub-project is not valid - at least according to the tooling: this happens if I try to remove all SPs from SIG-CE in `sigs.yaml`:

[code]

The [Kubernetes community governance documentation](https://github.com/kubernetes/community/blob/3373d359399bd87a6bd729f4e07edf9e09a97fba/governance.md#su

[2022-05-18 09:48] sesheta commented on #178
@codificat: The label(s) `triage/accepted` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/community/issues/178#issuecomment-1129802659):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or sugges

[2022-05-18 13:30] oindrillac commented on #173
We used all 3 filtering criteria suggested (https://github.com/aicoe-aiops/ocp-ci-analysis/pull/490), here is the list of 105 repos that we get from all the repos in the thoth-station org that we will be including in our training data.

[code]

[2022-05-18 22:15] sesheta commented on #71
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-19 15:08] Gkrumbach07 commented on #171
The navigation layout was accepted. However the tab in the main thoth site will not be added until later.

[2022-05-19 15:08] #171 closed

[2022-05-19 15:28] hemajv opened #204 "[8pt][E4] As the creator of the dashboard/funnel for the OS Climate community, I need the blueprint of the path, so I know the the goal and path a user can & should follow, defined by the chair/host of OS Climate"
Once we have an idea of the user journey map operate-first/support#855 for OS Climate, we can start working on implementing a dashboard to visualize the "actions" or "events" that lead to a successful contribution to the community. For eg, Of all the users that created an on-boarding request to the project, how many successfully logged in to the cluster, created an issue, created a PR, reviewed at

[2022-05-19 15:31] hemajv commented on #204
/assign @hemajv @aakankshaduggal

[2022-05-19 15:36] hemajv commented on #202
@erikerlandson do let us know what parts of the user journey we should focus on and we can start fetching the relevant data for it

[2022-05-24 16:07] oindrillac commented on #197
We have an initial dashboard [here](https://datastudio.google.com/reporting/0d4fce38-8059-4ef2-ac2c-9f15e88ff31d). If you have suggestions on charts/metrics that you'd like to see, please suggest them here.

[2022-05-24 16:13] oindrillac commented on #197
Regarding the visibility of the Google Analytics dashboard:

We are able to integrate the google data studio dashboard with the gatsby website however visibility of the charts could be an issue. Since we use our red hat accounts for google analytics and the google data studio accounts, default visibility of the charts is limited to Red Hatters.

So Red Hattters will be able to see the charts like:

[2022-05-24 18:26] oindrillac commented on #197
Hi @schwesig! Any specific reason why we'd include this card in the O2KR2 Sprint Backlog? Is this card related to an epic in O2KR2?

[2022-05-25 17:34] oindrillac commented on #195
Feedback WIP document: https://docs.google.com/document/d/1Srlzp0e62DjkJdyg2MBiNAZ-rOW3YOg3stLG2K9wW14/edit

[2022-05-25 20:02] hemajv commented on #202
thanks for the input @erikerlandson, we will look into how best we can capture these :+1:

[2022-05-26 12:59] Gkrumbach07 commented on #197
This looks good for now. We decided that keeping these website metrics private to red-hatters is fine... If a user really wants them they can request access but that seems like a rare occurrence. May look into hiding the tabs of private content and only showing them to Red Hat accounts. As of now this issue is done.

/close

[2022-05-26 12:59] sesheta commented on #197
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/197#issuecomment-1138549908):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-05-26 13:32] tumido opened #206 "[SIG Services][Spike] Collect SLOs from various managed services"
Until next SIG Services on <DATE>, pick a RH managed product (or any other managed service) and get a list of their SLOs so we can compare and derive an ultimate list of SLOs that can be used by service owners as an inspiration for their own SLOs.

If you pick a service, open a comment in here stating the service name (so we don't end up with multiple people working on the same service).

[2022-05-26 13:37] tumido opened #207 "[SIG Services][Guideline] Make your SLx easily observable"
SLO, SLA, SLI should be publicly available.

[2022-05-26 13:57] tumido opened #208 "[SIG Services][Guideline] Support process"
- Support process, how and who to reach out to in all possible cases (outage, feature request, bug etc..)
- Mention SLAs
- How to reach out to the owner and expect response in SLA-agreed time
- Defines a contact point (repo issues, email…)
- Prepared to receive confidential sensitive information and have prepared means for that - as simple as listing a gpg pub key so user can encrypt their data
-

[2022-05-26 14:27] suppathak commented on #173
Related pull request: https://github.com/aicoe-aiops/ocp-ci-analysis/pull/495

[2022-05-26 14:37] SamoKopecky commented on #108
/assign

[2022-05-26 14:52] oindrillac opened #209 "[8pt] As a Thoth service owner, I want to track Github metrics and display them on a dashboard and integrate them on the site."
As a part of https://github.com/open-services-group/community/issues/172, I want to track Github metrics and display them on a dashboard.

 - [ ] Extract relevant data and store them on S3. https://github.com/open-services-group/metrics/pull/38
 - [ ] Create notebooks to calculate metrics from the stored data.
 - [ ] Create charts from these metrics on a dashboard such as Superset or Grafana.
 - [

[2022-05-26 15:08] oindrillac commented on #203
/assign @oindrillac

[2022-05-26 15:13] suppathak commented on #209
/assign @suppathak

[2022-05-26 17:57] hemajv commented on #204
@aakankshaduggal and I were able to identify required data sources, we will primarily be looking at GitHub data to fetch relevant user journey events.
We have created an initial [notebook](https://github.com/hemajv/metrics/blob/os-climate-data/notebooks/GitHub_Data_Collection.ipynb) that will fetch all GitHub related data such as issues, PRs, events etc. There is also an [ongoing storage outage](h

[2022-05-26 20:54] sesheta commented on #75
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-26 20:54] sesheta commented on #77
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-27 06:51] schwesig commented on #197
Some of the OKRs seems to connect. Thoth and becoming more visible/trackable is part of O2KR2 too.
So I was mentioning it there. But we can remove it again.

[2022-05-31 13:14] #112 closed

[2022-05-31 14:18] Gkrumbach07 commented on #173
/close

[2022-05-31 14:20] #173 closed

[2022-05-31 14:20] sesheta commented on #173
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/173#issuecomment-1142199000):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-05-31 17:32] schwesig commented on #155
maybe the group around @goern @codificat is working on a topic that could be a part of or the whole solution?...

[2022-05-31 17:37] schwesig commented on #138
see also the input from @HumairAK

[2022-06-07 13:16] schwesig opened #213 "[Xpt][EPIC] Working group agenda - section for community focus and news exchange via e.g. blog"
open: define the user story...
maybe like:
As the community I want to be informed about decisions and possible new community things that could come from RH internal efforts.
As the working group I want to be informed what is going on in the upstream, new trends and possible new topics & ideas to work on, focus on, be prepared to.

initiated by an email Hild, Burns 2022-06-07

Basic Idea:
having a

[2022-06-07 15:19] schwesig opened #214 "Bootstrap Working Group for SIG-Telemetry in Operate First"
assigned on SIG Telemetry meeting on 2022-06-07

[2022-06-07 22:01] sesheta commented on #60
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-07 22:01] sesheta commented on #78
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-08 10:01] sesheta commented on #73
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-08 10:01] sesheta commented on #69
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-08 10:58] codificat commented on #69
@schwesig it is unclear to me what is pending to do about this issue, if anything.

There is a place for ADRs, and a template for them: https://github.com/open-services-group/community/tree/main/adr

I see some comments earlier that are about SIGs, WGs etc - but that sounds not directly related to ADRs, right?

[2022-06-09 06:48] sesheta commented on #16
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-09 10:11] SamoKopecky commented on #206
Example of [SLOs](https://cloud.google.com/dataplex/sla) for [Google Dataplex](https://cloud.google.com/dataplex/docs/introduction).
## Availability/Uptime
- **Uptime** is specified in monthly uptime percentage (e.g. 99.5%).
- Uptime is the state of the service when **downtime** is not present, downtime is defined as a state where the **error rate** is bigger than some percentage for a longer peri

[2022-06-09 12:38] schwesig commented on #16
In a steering committee we decided, that this was tried a few times, and couldn't agree on a final solution.
/closed for now.
We use github (conferences dashboard) and google OSG calendar for this in a little different, but working way.

[2022-06-09 12:38] #16 closed

[2022-06-09 12:41] #69 closed

[2022-06-09 12:45] tumido commented on #206
I took a look at AppSRE for their SLOs:

Internal resources:
https://source.redhat.com/groups/public/sre-services/sre_services_wiki/appsre_slos
https://service.pages.redhat.com/dev-guidelines/docs/appsre/onboarding/creating-slos/

Schema:
https://github.com/app-sre/qontract-schemas/blob/main/schemas/app-sre/slo-document-1.yml

Example:
https://gitlab.cee.redhat.com/service/app-interface/-/blob/a13

[2022-06-09 12:55] schwesig commented on #88
/close
template exists and is used in the meeting noted of OSG

[2022-06-09 12:55] #88 closed

[2022-06-09 12:59] schwesig commented on #72
done
/close

[2022-06-09 12:59] #72 closed

[2022-06-09 12:59] sesheta commented on #72
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/72#issuecomment-1151088724):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-06-09 12:59] schwesig commented on #77
not needed anymore
/close

[2022-06-09 12:59] #77 closed

[2022-06-09 13:00] schwesig commented on #74
is this still needed?

[2022-06-09 13:29] tumido opened #215 "[SIG Services][Guideline] Easy to interact with a service"
All interactions should be as simple as possible for the user. That includes for example - installation/sign up process should be automated and responsive. Service assumes sane and reasonable standard default configuration and interaction patterns making the learning curve shallow. In short the user doesn't need to have the same level of expertise as the maintainer.

[2022-06-09 14:51] schwesig commented on #206
https://drive.google.com/file/d/1h0i-R2YVKN2HoKul6gA8Dj04-kEeALzW/view

[2022-06-09 20:11] #194 closed

[2022-06-09 20:14] Gkrumbach07 opened #216 "[SCRUM][O1KR3][Sprint Goal] 2 - 2022-05-30 to 2022-06-13"
- Add more metrics
- Time to merge model
- Add more overview pages and clean up loose ends

[2022-06-10 10:01] sesheta commented on #76
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 10:01] sesheta commented on #87
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 12:26] suppathak commented on #209
superset dashboard: http://superset.operate-first.cloud/r/12

[2022-06-10 17:30] #196 closed

[2022-06-12 19:01] sesheta commented on #89
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-12 19:01] sesheta commented on #97
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-13 16:01] sesheta commented on #96
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-13 16:23] schwesig commented on #97
/remove-lifecycle stale

[2022-06-13 16:40] schwesig commented on #76
/remove-lifecycle stale

[2022-06-13 16:41] schwesig commented on #87
/remove-lifecycle stale

[2022-06-14 08:20] #60 closed

[2022-06-14 08:21] #166 closed

[2022-06-14 08:21] #167 closed

[2022-06-14 08:21] #163 closed

[2022-06-14 08:21] #157 closed

[2022-06-14 08:21] #158 closed

[2022-06-14 08:21] #156 closed

[2022-06-14 08:21] #165 closed

[2022-06-14 10:05] SamoKopecky commented on #208
/asign

[2022-06-14 10:05] SamoKopecky commented on #208
/assign

[2022-06-14 16:19] hemajv commented on #204
The datasets are now stored in s3 and available as Trino tables on smaug

[2022-06-15 07:01] sesheta commented on #79
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-15 10:16] schwesig commented on #79
/remove-lifecycle stale

[2022-06-15 14:31] schwesig commented on #99
/remove-lifecycle stale

[2022-06-18 00:48] sesheta commented on #71
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-23 12:59] codificat commented on #206
The Thoth team has WIP/draft documentation on defining SLOs for the service.

There are still no final details on that, but here is a list of SLIs that are listed as the focus:
- thamos advise (quality and latency)
- learning rate on unknown application stacks (latency, quality)
- Kebechet dependency update (quality, latency, cost)
- Amun Inspection Runs (quality, latency) quantity?
- Khebhut app

[2022-06-23 13:35] Shreyanand opened #222 "[SIG Services][Guideline] User facing documentation/admin documentation"
Documentation

User documentation:

- how to access the service
- how to get started: basic use case of the service
- how to configure the service with an example configuration
- link to the support process
- link to privacy policy, rbac policy, terms and conditions, SLAs
- complete list of features available to the user

- Define a central location for the user documentation (avoid multiple place

[2022-06-23 13:47] Shreyanand opened #223 "[SIG Services][Guideline] Release process"
Service requires release changelog to include migration guide: removed, deprecated, new features, user facing changes, update propagation timeline.

Release note version mapping to live service.

Define a release process
- if required have CI/CD pipelines defined to automate the release process
- define test cases that should pass for a new release or change

As stated at https://github.com/open-s

[2022-06-25 21:49] sesheta commented on #75
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-27 07:56] mimotej commented on #222
/assign

[2022-06-27 14:49] schwesig opened #225 "OSS 2022 AUS: Follow Up"
https://events.linuxfoundation.org/open-source-summit-north-america/program/schedule/

Talks we had:
- [ ] [opencost.io](https://www.opencost.io/) Open source cost monitoring for cloud native environments.
- [ ] [kubecost.com](https://www.kubecost.com/) Monitor & reduce Kubernetes spend
- [ ] [mend.io](https://www.mend.io/) WhiteSource is now Mend - You Code. We Cure.
- [ ] [MLH.io](https://fellow

[2022-06-27 15:02] schwesig commented on #225
@durandom

[2022-06-27 15:28] schwesig opened #226 "[website] workload overview"
e.g. https://www.slim.ai/

[2022-06-27 15:29] schwesig opened #227 "[website] 2 clicks to show at a summit"

[2022-06-27 15:29] schwesig commented on #227
/assign @schwesig

[2022-06-27 15:32] schwesig commented on #226
1. /area communication
2. /area metrics
3. /kind documentation
4. /kind feature
5. /priority important-soon
6. /sig community-experience

[2022-06-27 15:32] schwesig commented on #226
/area communication
/area metrics
/kind documentation
/kind feature
/priority important-soon
/sig community-experience

[2022-06-27 15:33] schwesig commented on #225
/area communication
/kind feature
/priority important-soon
/sig community-experience

[2022-06-28 08:23] mimotej commented on #215
/assign

[2022-06-29 09:51] mimotej commented on #159
/assign

[2022-06-29 09:59] tumido opened #231 "Task: Relocate probot related repositories to Operate First"
In order to unify and strengthen the Operate First brand, we should promote all the Probot related work under Operate First umbrella rather than Open Services Group.

Relocate and update repositories:
- [x] https://github.com/open-services-group/probot-extensions
- [x] https://github.com/open-services-group/probot-template
- [x] https://github.com/open-services-group/peribolos-as-a-service

Reloca

[2022-06-30 09:32] schwesig commented on #98
/close
solution:
chairs are responsible for sending out the NewsFlash, and can delegate this task to the host etc.
in the last month everybody got used to the regular update and sending it out without reminders

[2022-06-30 09:32] #98 closed, assigned to schwesig

[2022-06-30 09:33] schwesig commented on #89
/close all todos were done

[2022-06-30 09:33] schwesig commented on #89
close

[2022-06-30 09:34] #89 closed

[2022-06-30 09:35] schwesig commented on #99
/closed
templates are used in the basic form or a little customized version of the template to fit the needs of each group/meeting

[2022-06-30 09:35] #99 closed

[2022-06-30 09:39] schwesig opened #233 "Minimum requirements for README/Landing Page"
SIG etc Landing Page
--> Brainstorming

TEMPLATE

chair
member
contact
meetings
project board

[2022-06-30 21:03] suppathak opened #234 "[1pt] As a Thoth service owner, I want to create a cron job (running every week) in order to track Github metrics displayed in thoth-station help page."
As a Thoth service owner, I want to create a cron job (running every week) in order to track Github metrics displayed in thoth-station [help page](https://thoth-station.ninja/help/metrics/issue_metrics.md).

[2022-06-30 21:06] suppathak commented on #234
Cron job created: https://console-openshift-console.apps.smaug.na.operate-first.cloud/k8s/ns/ds-ml-workflows-ws/cronjobs/thoth-support-metrics

Every week, it runs and collect the github data from thoth-station/support repo which will then update the github metrics in thoth-station [help page](https://thoth-station.ninja/help/metrics/issue_metrics.md).

[2022-06-30 21:08] suppathak commented on #209
Dashboard integrated on Website: https://thoth-station.ninja/help/metrics/issue_metrics.md

[2022-07-01 08:57] tumido commented on #231
Manually migrated secrets from `peribolos-ID` to `probot-ID` name, application fully redeployed.

[2022-07-01 08:57] #231 closed

[2022-07-04 16:03] sesheta commented on #115
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-05 11:12] schwesig commented on #125
this idea was not followed.
SCRUM Teams didn't need a repo at this time, they solved it in issues etc.
/closed

[2022-07-05 11:12] #125 closed

[2022-07-05 11:14] schwesig commented on #73
/remove-lifecycle stale

[2022-07-05 11:19] schwesig commented on #74
/close

[2022-07-05 11:19] #74 closed

[2022-07-05 11:25] schwesig opened #236 "[E#24]Update Chart "Operate First project""
belongs to EPIC https://github.com/open-services-group/scrum/issues/24

[2022-07-05 11:28] schwesig commented on #236
/area communication
/kind feature
/priority important-soon

[2022-07-05 11:29] schwesig commented on #233
/area communication
/area documentation
/kind feature
/priority important-soon
/sig community-experience

[2022-07-05 13:40] #222 closed, assigned to mimotej

[2022-07-05 14:02] schwesig opened #237 "[E#25][Funnel][Google Analytics] add google analytics to operate-first.cloud"
Updating and working on Google Analytics for the website, as it updates.
Make Google analytics work with Gatsby

[2022-07-06 13:46] schwesig commented on #225
uffizzi emailed @durandom 2022-06-29

[2022-07-06 13:49] schwesig commented on #225
Kubescape https://github.com/operate-first/support/issues/595

[2022-07-06 14:38] codificat commented on #117
Is this enough or is there anything else needed here?

[2022-07-06 15:38] schwesig commented on #237
comments during SIG ComExp Meeting 2022-07-06
Adobe Analytics or Google Analytics

[2022-07-06 15:47] sesheta commented on #227
@schwesig: The label(s) `/remove-label sig/community-experience` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/moc-prod, epic, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind

[2022-07-06 15:47] schwesig commented on #227
/remove-sig community-experience

[2022-07-06 15:48] schwesig commented on #226
/remove-sig community-experience

[2022-07-06 15:48] schwesig commented on #225
/remove-sig community-experience

[2022-07-06 15:52] schwesig commented on #214
https://www.operate-first.cloud/community/sig-telemetry/README.html

[2022-07-07 13:28] tumido opened #241 "[SIG Services][Guideline] Security manual and liability and sec. policies"
Can be part of support guidelines.

Something like SLA specific to security.

Define `SECURITY.md` as per https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository

Have a secured path how users can report found vulnerability.

General recommendation: Leverage security scanning and CVE monitors, keep deps up to date.

Have a prioritization in place for is

[2022-07-07 13:42] tumido opened #242 "[SIG Services][Guideline] Stability policy"
Have a stability policy which defines how service creators and maintainers handle full or partial system upgrades in a way that changes are transparent to the user - either backwards compatible or automatically migrated. Have a documented procedure how to handle when this is not possible - manual migration guides, deprecation timeframe etc.

[2022-07-07 13:53] tumido opened #243 "[SIG Services][Guideline] Code of Conduct"
Have a code of conduct, link to 2-3 examples. have it linked from support/security policy and agreements.

[2022-07-07 13:58] tumido opened #244 "[SIG Services][Guideline] Service name and owner/branding"
Service name does not conflict/is not confusing or already licensed

Define and disclose service owners/maintainers (either as individuals or as an organization/entity)

Service has a distinct logo and branding manual/page.

[2022-07-08 20:51] #203 closed

[2022-07-12 10:03] sesheta commented on #126
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-12 10:31] mimotej commented on #243
/assign

[2022-07-12 22:03] sesheta commented on #129
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-13 17:05] oindrillac commented on #209
@suppathak this is done correct? Can this be closed?

[2022-07-13 17:08] suppathak commented on #209
I think it can be closed. Thanks :)

[2022-07-18 03:43] sesheta commented on #71
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-18 03:43] #71 closed

[2022-07-18 03:43] sesheta commented on #71
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/71#issuecomment-1186731663):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/

[2022-07-19 22:04] sesheta commented on #144
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-20 19:04] sesheta commented on #137
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-21 07:51] schwesig commented on #137
/close
Sprint Goal was reached and this issue can be closed

[2022-07-21 07:52] #137 closed

[2022-07-21 07:52] sesheta commented on #137
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/137#issuecomment-1191162493):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-07-21 12:47] #243 closed

[2022-07-21 12:55] #108 closed

[2022-07-21 13:17] tumido opened #247 "[SIG Services][Update guideline] SLI/SLO with examples"
Update https://github.com/open-services-group/community/pull/205 with specific examples pulled from https://github.com/open-services-group/community/issues/206

[2022-07-21 13:22] tumido opened #248 "[SIG Services][Guideline] Descriptions of roles and documents used to implement and operate the service"
A generic guideline stating that "personas should be defined and observed", and point users to follow https://github.com/operate-first/sre/blob/main/ADRs/RH/SIG-SRE/ADR-00002%20Personas%20related%20to%20Managed%20Services.md

Then give example of peribolos: https://github.com/operate-first/peribolos-as-a-service/blob/main/Metrics.md#personas

[2022-07-26 00:44] sesheta commented on #75
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-26 00:44] #75 closed

[2022-07-26 00:44] sesheta commented on #75
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/75#issuecomment-1194830287):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/

[2022-07-26 14:23] schwesig commented on #237
/assign @schwesig

[2022-07-28 05:51] schwesig commented on #247
/kind handbook
/kind documentation
/kind governance
/sig operations
/area monitoring
/kind metrics

[2022-07-28 05:51] sesheta commented on #247
@schwesig: The label(s) `kind/handbook, kind/governance, sig/operations, area/monitoring, kind/metrics` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/community/issues/247#issuecomment-1197694913):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contribut

[2022-07-28 05:52] schwesig commented on #247
/area metrics

[2022-07-28 05:57] schwesig commented on #144
/area user
/area community
/kind user-story
/sig community
/kind onboarding

[2022-07-28 05:57] sesheta commented on #144
@schwesig: The label(s) `area/user, area/community, kind/user-story, sig/community, kind/onboarding` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/community/issues/144#issuecomment-1197698305):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors

[2022-07-28 06:01] schwesig commented on #209
/close
PRs merged

[2022-07-28 06:01] #209 closed

[2022-07-28 06:02] schwesig commented on #129
/sig community
/area community
/kind onboarding
/area contributor

[2022-07-28 06:03] sesheta commented on #129
@schwesig: The label(s) `sig/community, area/community, kind/onboarding, area/contributor` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/community/issues/129#issuecomment-1197701824):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pul

[2022-07-28 06:04] schwesig commented on #127
/area contributor/sig community
/area community
/kind onboarding
/area contributor

[2022-07-28 06:04] sesheta commented on #127
@schwesig: The label(s) `area/contributor/sig, area/community, area/community, kind/onboarding, area/contributor` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/community/issues/127#issuecomment-1197702668):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community

[2022-07-28 13:12] tumido opened #249 "Move the guidelines to operate-first"
Blocked by all open guidelines related PRs and issues. Once merged transfer them to operate first. (if there are remaining issues, don't forget to transfer those as well)

[2022-07-28 13:13] tumido opened #250 "Build a jupyterbook and put it on operate-first website"
Use the same CI/CD setup as gitops docs and publish the guidelines. Link it from the website.

[2022-07-28 13:24] sesheta commented on #250
@schwesig: The label(s) `sig/community, kind/handbook, kind/website, kind/governance` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/community/issues/250#issuecomment-1198137166):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-req

[2022-07-29 10:05] schwesig commented on #237
/triage accepted

[2022-07-29 10:05] sesheta commented on #237
@schwesig: The label(s) `triage/accepted` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/open-services-group/community/issues/237#issuecomment-1199099812):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggest

[2022-08-01 14:32] SamoKopecky commented on #248
/assign

[2022-08-01 15:12] #159 closed

[2022-08-02 01:05] sesheta commented on #169
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-02 13:05] sesheta commented on #135
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-02 13:05] sesheta commented on #162
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-02 22:05] sesheta commented on #176
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-02 22:05] sesheta commented on #177
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-02 22:05] sesheta commented on #174
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-03 13:05] sesheta commented on #147
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-03 16:05] sesheta commented on #175
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-03 19:05] sesheta commented on #172
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-04 20:59] KPostOffice commented on #147
/lifecycle active

[2022-08-05 07:05] sesheta commented on #185
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-05 15:54] sesheta commented on #117
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-05 15:54] sesheta commented on #115
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-07 16:06] sesheta commented on #134
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-07 18:04] schwesig commented on #134
/remove-lifecycle stale
still ongoing, regular weekly meetings
WG created

[2022-08-08 10:06] sesheta commented on #184
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-08 10:06] sesheta commented on #190
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-08 14:46] schwesig commented on #115
This answer will close this issue.

[2022-08-08 14:46] #115 closed

[2022-08-11 12:55] sesheta commented on #126
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-15 16:06] sesheta commented on #198
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-15 19:06] sesheta commented on #187
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-15 22:06] sesheta commented on #200
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-15 22:06] sesheta commented on #201
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-15 22:06] sesheta commented on #188
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-15 22:06] sesheta commented on #199
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-27 06:57] sesheta commented on #144
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-27 06:57] sesheta commented on #127
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-27 06:57] sesheta commented on #129
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-08-29 08:25] schwesig commented on #127
/close
the goals of Q2 were logged in the Q2 document, goals were reached

[2022-08-29 08:25] #127 closed

[2022-08-29 13:08] sesheta commented on #160
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-29 13:08] sesheta commented on #107
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-29 13:08] sesheta commented on #131
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-29 13:08] sesheta commented on #207
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-29 13:08] sesheta commented on #192
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-29 19:08] sesheta commented on #145
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-29 19:08] sesheta commented on #155
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-01 03:58] sesheta commented on #169
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-01 15:58] sesheta commented on #135
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-01 15:58] sesheta commented on #162
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-02 00:58] sesheta commented on #176
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-02 00:58] sesheta commented on #177
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-02 00:58] sesheta commented on #174
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-02 18:58] sesheta commented on #175
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-02 21:58] sesheta commented on #172
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-04 09:58] sesheta commented on #185
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-04 18:50] sesheta commented on #117
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-04 18:50] #117 closed

[2022-09-04 18:50] sesheta commented on #117
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/117#issuecomment-1236395437):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-09-05 16:09] sesheta commented on #213
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-07 12:58] sesheta commented on #184
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-07 12:58] sesheta commented on #190
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-07 16:09] sesheta commented on #193
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-07 22:09] sesheta commented on #216
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-10 15:52] sesheta commented on #126
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-10 15:52] sesheta commented on #126
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/126#issuecomment-1242757709):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-09-10 15:52] #126 closed

[2022-09-11 16:11] sesheta commented on #96
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-11 19:11] sesheta commented on #76
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-11 19:11] sesheta commented on #97
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-11 19:11] sesheta commented on #87
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-12 10:11] sesheta commented on #138
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-12 10:11] sesheta commented on #208
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-12 11:56] SamoKopecky commented on #208
/remove-lifecycle stale

[2022-09-12 13:11] sesheta commented on #128
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-12 13:11] sesheta commented on #186
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-12 13:15] Gkrumbach07 commented on #128
/close

[2022-09-12 13:15] sesheta commented on #128
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/128#issuecomment-1243725539):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-09-12 13:15] #128 closed

[2022-09-13 13:12] sesheta commented on #79
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-13 19:12] sesheta commented on #154
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-13 19:12] sesheta commented on #123
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-13 19:12] sesheta commented on #133
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-13 19:12] sesheta commented on #122
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-13 19:12] sesheta commented on #136
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-14 19:02] sesheta commented on #198
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-14 22:02] sesheta commented on #187
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-15 01:02] sesheta commented on #200
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-15 01:02] sesheta commented on #201
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-15 01:02] sesheta commented on #199
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-15 01:02] sesheta commented on #188
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-15 12:18] durandom commented on #133
I think this can be closed since we've upgraded the website to a new theme

[2022-09-15 12:18] #133 closed

[2022-09-21 13:16] sesheta commented on #206
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-26 06:59] sesheta commented on #144
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-26 06:59] sesheta commented on #129
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-09-26 06:59] #129 closed

[2022-09-26 06:59] sesheta commented on #129
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/129#issuecomment-1257566087):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-09-26 06:59] sesheta commented on #144
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/144#issuecomment-1257566076):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-09-26 06:59] #144 closed

[2022-09-26 10:18] sesheta commented on #215
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-28 16:08] sesheta commented on #160
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-28 16:08] sesheta commented on #131
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-28 16:08] sesheta commented on #107
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-28 16:08] sesheta commented on #207
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-28 16:08] sesheta commented on #192
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-28 20:05] sesheta commented on #145
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-28 20:05] sesheta commented on #155
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-09-29 13:21] #145 closed

[2022-10-01 05:06] sesheta commented on #169
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-10-01 05:06] #169 closed

[2022-10-01 05:06] sesheta commented on #169
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/169#issuecomment-1264246980):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-10-01 17:06] sesheta commented on #135
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-10-01 17:07] sesheta commented on #162
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-10-01 17:07] sesheta commented on #135
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/135#issuecomment-1264424115):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-10-01 17:07] #135 closed

[2022-10-01 17:07] #162 closed

[2022-10-01 17:07] sesheta commented on #162
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/162#issuecomment-1264424135):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-10-02 02:07] sesheta commented on #176
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-10-02 02:07] sesheta commented on #174
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-10-02 02:07] sesheta commented on #177
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-10-02 02:07] #176 closed

[2022-10-02 02:07] #174 closed

[2022-10-02 02:07] sesheta commented on #176
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/176#issuecomment-1264527514):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-10-02 02:07] #177 closed

[2022-10-02 02:07] sesheta commented on #174
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/174#issuecomment-1264527525):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-10-02 02:07] sesheta commented on #177
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/177#issuecomment-1264527515):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-10-02 20:07] sesheta commented on #175
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-10-02 20:07] sesheta commented on #175
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/175#issuecomment-1264722583):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-10-02 20:07] #175 closed

[2022-10-02 23:07] sesheta commented on #172
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-10-02 23:07] #172 closed

[2022-10-02 23:07] sesheta commented on #172
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/172#issuecomment-1264755206):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-10-03 14:08] sesheta commented on #73
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-03 14:08] sesheta commented on #233
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-03 14:08] sesheta commented on #234
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-04 11:07] sesheta commented on #185
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-10-04 11:07] sesheta commented on #185
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/185#issuecomment-1266781654):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-10-04 11:07] #185 closed

[2022-10-04 11:08] sesheta commented on #223
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-04 12:00] SamoKopecky commented on #223
/remove-lifecycle stale

[2022-10-04 17:08] sesheta commented on #178
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-04 17:08] sesheta commented on #226
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-04 17:08] sesheta commented on #227
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-05 14:08] sesheta commented on #241
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-05 14:08] sesheta commented on #242
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-05 14:08] sesheta commented on #244
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-10-05 17:07] sesheta commented on #213
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-10-06 09:20] schwesig commented on #213
/close done and implemented on Thu meetings

[2022-10-06 09:20] #213 closed

[2022-10-06 09:22] schwesig opened #253 "Create Marketing Channel Process (CSS Idea)"

[2022-10-06 09:23] schwesig commented on #253
/close
will be worked on in Operate First Social Media and website tiles

[2022-10-06 09:23] sesheta commented on #253
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/253#issuecomment-1269666809):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-10-06 09:23] #253 closed, assigned to nobody

[2022-10-06 09:24] schwesig opened #254 "Meeting Notes"
https://docs.google.com/document/d/1t47S9JUZbI3q0_LgVtaBKYsaGqnOP6YSG6x8XaBhiew/edit?usp=sharing

[2022-10-06 09:24] schwesig commented on #254
/close
just to keep the link, archive

[2022-10-06 09:24] sesheta commented on #254
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/254#issuecomment-1269667764):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-10-06 09:24] #254 closed, assigned to nobody

[2022-10-06 09:24] schwesig commented on #237
/close
implemented with gAnalytics 3, and mitigating it right now to gA 4

[2022-10-06 09:24] #237 closed

[2022-10-06 09:24] sesheta commented on #237
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/237#issuecomment-1269669312):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-10-06 09:25] schwesig commented on #76
/close
needs to be measured, partly is
not main focus of this SIG anymore

[2022-10-06 09:25] #76 closed

[2022-10-06 09:25] sesheta commented on #76
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/76#issuecomment-1269671825):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-10-06 09:26] schwesig commented on #178
working on it right now

[2022-10-06 09:38] #73 closed

[2022-10-06 09:38] #79 closed

[2022-10-06 09:38] #96 closed

[2022-10-06 09:38] #97 closed

[2022-10-06 09:38] #233 closed

[2022-10-06 09:39] #226 closed

[2022-10-06 09:40] #236 closed

[2022-10-06 09:42] #227 closed

[2022-10-06 09:45] codificat commented on #234
so, this is complete
/close

[2022-10-06 09:45] #234 closed

[2022-10-06 09:45] sesheta commented on #234
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/234#issuecomment-1269702113):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2022-10-06 09:45] #122 closed

[2022-10-06 09:45] #123 closed

[2022-10-06 09:45] #136 closed

[2022-10-06 09:45] #154 closed

[2022-10-06 09:45] #186 closed

[2022-10-06 09:45] #188 closed

[2022-10-06 09:45] #199 closed

[2022-10-06 09:45] #200 closed

[2022-10-06 09:46] codificat commented on #187
/close

[2022-10-06 09:46] sesheta commented on #187
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/187#issuecomment-1269704464):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2022-10-06 09:46] #187 closed

[2022-10-06 09:47] #134 closed

[2022-10-06 09:47] #138 closed

[2022-10-06 09:47] #201 closed

[2022-10-06 09:47] #204 closed

[2022-10-06 09:50] codificat commented on #178
and it's done: all sig-community-experience issues are now closed.
/close

[2022-10-06 09:50] sesheta commented on #178
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/178#issuecomment-1269710870):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2022-10-06 09:54] codificat commented on #247
/sig services

[2022-10-06 09:56] schwesig commented on #87
/close
we decided against it
@codificat onboard in this gMeet while cleaning up together

[2022-10-06 09:56] #87 closed

[2022-10-06 09:56] sesheta commented on #87
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/87#issuecomment-1269720791):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-10-06 09:57] schwesig commented on #214
/close
moved priorities

[2022-10-06 09:57] #214 closed

[2022-10-06 09:57] sesheta commented on #214
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/214#issuecomment-1269722376):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-10-06 09:58] codificat commented on #198
See the https://www.operate-first.cloud website for pointers to existing [slack](https://join.slack.com/t/operatefirst/shared_invite/zt-o2gn4wn8-O39g7sthTAuPCvaCNRnLww).
/close

[2022-10-06 09:58] sesheta commented on #198
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/198#issuecomment-1269724473):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernet

[2022-10-06 09:58] #198 closed

[2022-10-06 10:22] #107 closed

[2022-10-06 10:22] #131 closed

[2022-10-06 10:22] #160 closed

[2022-10-06 10:22] #206 closed

[2022-10-06 10:22] #207 closed

[2022-10-06 10:22] #208 closed

[2022-10-06 10:22] #215 closed

[2022-10-06 10:22] #223 closed

[2022-10-06 10:22] #241 closed

[2022-10-06 10:22] #242 closed

[2022-10-06 10:22] #244 closed

[2022-10-06 10:22] #247 closed

[2022-10-06 10:22] #248 closed

[2022-10-06 13:21] Gkrumbach07 commented on #147
Has been superseded by https://github.com/thoth-station/core/issues/425

/close

[2022-10-06 13:21] #147 closed

[2022-10-06 13:21] sesheta commented on #147
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/147#issuecomment-1270036915):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-10-06 13:22] Gkrumbach07 commented on #216
sprint is over
/close

[2022-10-06 13:22] sesheta commented on #216
@Gkrumbach07: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/216#issuecomment-1270038075):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2022-10-19 09:55] schwesig commented on #190
/close
cleanup after change of orga

[2022-10-19 09:55] sesheta commented on #190
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/190#issuecomment-1283737491):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-10-19 09:56] schwesig commented on #250
/close
cleanup after change of orga

[2022-10-19 09:56] #250 closed

[2022-10-19 09:56] sesheta commented on #250
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/250#issuecomment-1283738829):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-10-19 09:57] schwesig commented on #249
/close
cleanup after change of orga

[2022-10-19 09:57] #249 closed

[2022-10-19 09:57] sesheta commented on #249
@schwesig: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/249#issuecomment-1283739371):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-11-05 11:17] sesheta commented on #184
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-11-05 11:17] #184 closed

[2022-11-05 11:17] sesheta commented on #184
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/open-services-group/community/issues/184#issuecomment-1304500560):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes